<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <title>Email Verification</title>
  <style type="text/css">
    body {
      margin: 0 !important;
      padding: 0 !important
    }

    img {
      border: 0 !important;
      outline: none !important
    }

    p {
      Margin: 0px !important;
      Padding: 0px !important
    }

    table {
      border-collapse: collapse
    }

    td,
    a,
    span {
      border-collapse: collapse
    }

    ExternalClass * {
      line-height: 100%
    }

    @media only screen and (min-width:481px) and (max-width:599px) {
      .wrap {
        width: 100% !important
      }

      .hide {
        display: none !important
      }

      .side {
        width: 15px !important;
      }

      .pa {
        padding: 15px !important;
      }

      .pb {
        padding-bottom: 20px;
      }
    }

    @media only screen and (max-width:480px) {
      .wrap {
        width: 100% !important
      }

      .hide {
        display: none !important
      }

      .h20 {
        height: 20px !important;
      }

      .side {
        width: 15px !important;
      }

      .pa {
        padding: 15px !important;
      }

      .pb {
        padding-bottom: 20px;
      }
    }
  </style>
<style type="text/css">
  <!--[if mso]>
body, table, td {font-family: Arial, sans-serif !important;}
</style>
<![endif]-->
</head>

<body style="margin:0px;padding:0px" bgcolor="#ffffff">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" class="wrap">
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="box-shadow:0 0 20px #e6e6e6;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9">
                <tr>
                  <td width="30" class="side">&nbsp;</td>
                  <td align="center" valign="top" style="padding-top:30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="top" style="box-shadow:0 0 3px #e4e9eb;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" valign="top" bgcolor="#0d0f1b">
                                <img src="{{BASE_URL}}assets/images/mail-template/banner-admin.jpg" width="540" alt=""
                                  border="0" style="display:block; width:100%; max-width:540px;" />
                              </td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" align="center" valign="top" style="padding:30px;" class="pa">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="center" valign="top" style="padding: 0 0 15px 0;"><img width="54"
                                        src="{{BASE_URL}}assets/images/mail-template/decline.png" alt=""></td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:22px; color:#c83636; line-height:22px; font-weight:bold; padding:0 0 10px;"
                                      class="pb">Account Blocked !</td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:18px; color:#c83636; line-height:22px; font-weight:bold; padding:10px 0 15px 0; text-transform: capitalize;"
                                      class="pb">Hi, {{fullName}}</td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#777777; line-height:20px; padding:0 0 20px;">
                                      Your Account has been blocked because of  <br>{{reasonToBlock}}
                                      </td>
                                  </tr>
                                  <tr>
                                    <td style="padding:0 0 20px;" valign="top" align="center">
                                      <table style="background-color:#22c0a1;" width="135" cellspacing="0"
                                        cellpadding="0" border="0" bgcolor="#f47c48" align="center">
                                        <tbody>
                                          <tr>
                                            {{!-- <td
                                              style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#ffffff;"
                                              valign="middle" height="35" align="center">
                                              <a href="{{BASE_URL}}verify-email/{{token}}" target="_blank"
                                                style="text-decoration:none; color:#ffffff; display:block; line-height:32px;">Verify Email</a>
                                            </td> --}}
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="center" valign="top"
                                      style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#777777; line-height:20px;">
                                      Thanks, <br>Synrgy Team</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top"
                          style="padding:15px 15px 15px 15px; font-family:'Lato', Arial, sans-serif; font-size:11px; color:#777777; line-height:15px;">
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="30" class="side">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="hide" style="white-space:nowrap;font:20px courier;color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;</div>
</body>

</html>