<input type="hidden" value='{{data}}' id="data" />
<div id="content"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    var str = $('#data').val();
    var fstr = $.parseHTML(str);
    $("#content").html(fstr);
  });

</script>