<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="table table-responsive">
                        <table id="datatable" class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Id
                                    </th>
                                    <th>Name
                                    </th>
                                    <th>Details
                                    </th>
                                    <th class="sorting_disabled">Actions
                                    </th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>About us</td>
                                    <td>about us page</td>



                                    <td class="font_delete"><a href="{{BASE_URL}}editAboutUs"><i
                                                class="mdi mdi-border-color"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Privacy policy</td>
                                    <td>Privacy policypage</td>


                                    <td class="font_delete"><a href="{{BASE_URL}}editPrivacyPolicy"><i
                                                class="mdi mdi-border-color"></i></a>
                                    </td>
                                </tr>


                                <tr>
                                    <td>3</td>
                                    <td>Terms and coditions</td>
                                    <td>Terms and coditions page</td>


                                    <td class="font_delete"><a href="{{BASE_URL}}editTermsAndCoditions"><i
                                                class="mdi mdi-border-color"></i></a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- container-fluid -->
    </div>


</div>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0 text-center">Do you realy want to Logout?
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn  btn-lg btn-secondary waves-effect waves-light"
                        data-dismiss="modal">Cancel</button>
                    <a href="pages-login.html"> <button type="submit"
                            class="btn  btn-lg btn-primary waves-effect waves-light">Logout</button></a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            'columns': [
                { data: 'Id' }, /* index = 0 */
                { data: 'Name' }, /* index = 1 */
                { data: 'Details' }, /* index = 2 */
                { data: 'Action' }
            ],
            'columnDefs': [{
                'targets': [3], /* column index */
                'orderable': false, /* true or false */
            }]
        });

        $("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
    });

</script>