<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>Complaints Management</h4>
        <div class="container-fluid">
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->

                    <div class="table table-responsive">

                        <table id="datatable" class="table table-bordered  "
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Reported By
                                    </th>
                                    <th>Reported Against
                                    </th>


                                    <th>Date of Complaint
                                    </th>

                                    <th>
                                        Action
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="Complaints-Management-view-details.html">Adam</a></td>
                                    <td>Boyd</td>

                                    <td>18 Jul 2018</td>

                                    {{!-- <td class="text-center">
                                    <div class="class=" form-group m-b-0""><button type="submit"
                                            class="btn btn-primary waves-effect waves-light">view details</button>
                                    </div>
                                </td> --}}
                                    <td class="font_delete"><a href="{{BASE_URL}}complaintsManagementViewDetails" <i
                                            class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td>Berry</td>
                                    <td>Boyd</td>

                                    <td>18 Jul 2018</td>

                                    {{!-- <td class="text-center">
                                    <div class="class=" form-group m-b-0""><button type="submit"
                                            class="btn btn-primary waves-effect waves-light">view details</button>
                                    </div>
                                </td> --}}
                                    <td class="font_delete"><a href="{{BASE_URL}}complaintsManagementViewDetails" <i
                                            class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td>Cristofer</td>
                                    <td>Boyd</td>

                                    <td>18 Jul 2018</td>

                                    {{!-- <td  class="text-center"> 
                                    <div class="class=" form-group m-b-0""><button type="submit"
                                            class="btn btn-primary waves-effect waves-light">view details</button>
                                    </div>
                                </td> --}}
                                    <td class="font_delete"><a href="{{BASE_URL}}complaintsManagementViewDetails" <i
                                            class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>Boyd</td>

                                    <td>18 Jul 2018</td>

                                    {{!-- <td  class="text-center">
                                    <div class="class=" form-group m-b-0""><button type="submit"
                                            class="btn btn-primary waves-effect waves-light">view details</button>
                                    </div>
                                </td> --}}
                                    <td class="font_delete"><a href="{{BASE_URL}}complaintsManagementViewDetails" <i
                                            class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td>Doe</td>
                                    <td>Boyd</td>

                                    <td>18 Jul 2018</td>

                                    {{!-- <td  class="text-center">
                                    <div class="class=" form-group m-b-0""><button type="submit"
                                            class="btn btn-primary waves-effect waves-light">view details</button>
                                    </div>
                                </td> --}}
                                    <td class="font_delete"><a href="{{BASE_URL}}complaintsManagementViewDetails" <i
                                            class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- end row -->

                <!-- end row -->

            </div>

            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<script>
    $(document).ready(function () {
        $("#datatable").DataTable({
            'columns': [
                { data: 'Reported By' }, /* index = 0 */
                { data: 'Reported Against' }, /* index = 1 */
                { data: 'Date of Complaint' }, /* index = 2 */
                { data: 'Action' }
            ],
            'columnDefs': [{
                'targets': [3], /* column index */
                'orderable': false, /* true or false */
            }]
        });

        $("#datatable-buttons").DataTable({
            lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"]
        }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
    });

</script>