 <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page" id="table_profile">
          <!-- Start content -->
          <div class="content">
            <div class="container-fluid">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="Complaints-Management.html">Home
                  </a>
                </li>
                <li class="breadcrumb-item active">View Details
                </li>
              </ol> 
              <div  class="card m-b-20">
                <div class="card-body col-sm-12">
                  <div class="container">
                    <div class="user-detail-maxwidth">
                         <table class="table table-border table-user-information">
                            <tbody>
                              <tr>
                                <td  width="20%" > <h6 class="text-left"> Complaints by </h6> </td>
                                 <td  width="20%"><p>Jonathan</p> </td>
                                <td  width="20%" class="clear"><button type="reset" class="btn btn-secondary waves-effect m-l-5" >View Profile</button> </td>
                               </tr>
                              <tr>
                                <td  width="20%" > <h6 class="text-left"> Complaints From </h6></td>
                                <td  width="20%"><p>Jonathan</p></td>
                                <td  width="20%" class="clear"> <button type="reset" class="btn btn-secondary waves-effect m-l-5" >View Profile </button> </td>
                              </tr>
                               <tr>
                                <td  width="20%"> <h6 class="text-left"> Complaints Date </h6> </td>
                                <td  width="20%"><p>8/12/2019</p> </td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                           <label class="text-muted">  
                      <h5 class="text-left">Complaint
                      </h5>
                    </label>
                    {{!-- <textarea id="textarea" class="form-control" maxlength="350" rows="8" placeholder="This textarea has a limit of 350 chars.">
                    </textarea>
                     --}}
                    
                     
                  </div>
                    
                </div>

                <!-- end row -->
              </div>
              <!-- end row -->
              <!-- end row -->
            </div>
            <!-- container-fluid -->
          </div>
          <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>
</footer> -->
        </div>
        <div class="modal fade block-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <div id="datatable_filter " class="dataTables_filter text-center col-xl-6">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
              </div>
              <div class="modal-body m-t-20">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="datatable" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 128px;" aria-sort="ascending" aria-label="First Name
: activate to sort column descending">First Name
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 128px;" aria-label="Last Name
                                                                                                                                                 : activate to sort column ascending">Last Name
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 268px;" aria-label="Email
                                                                                                                                                 : activate to sort column ascending">Email
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr role="row" class="odd">
                            <td tabindex="0" class="sorting_1">
                              <a href="user-list-user-account.html">Adam
                              </a>
                            </td>
                            <td>Boyd
                            </td>
                            <td>joana.osinski@hotmail.com
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td tabindex="0" class="sorting_1">Berry
                            </td>
                            <td>Boyd
                            </td>
                            <td>joana.osinski@hotmail.com
                            </td>
                          </tr>
                          <tr role="row" class="odd">
                            <td tabindex="0" class="sorting_1">Cristofer
                            </td>
                            <td>Boyd
                            </td>
                            <td>joana.osinski@hotmail.com
                            </td>
                          </tr>
                          <tr role="row" class="even">
                            <td tabindex="0" class="sorting_1">Doe
                            </td>
                            <td>Boyd
                            </td>
                            <td>joana.osinski@hotmail.com
                            </td>
                        </td>
                        </tr>
                      <tr role="row" class="odd">
                        <td tabindex="0" class="sorting_1">John
                        </td>
                        <td>Boyd
                        </td>
                        <td>joana.osinski@hotmail.com
                        </td>
                      </tr>
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn  btn-lg btn-primary waves-effect waves-light" data-toggle="modal" data-target=".block-user">Confirm
            </button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
  <div class="modal fade Delete-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title mt-0 text-center">Do you realy want to delete user account?
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group text-center">
            <div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn  btn-lg btn-primary waves-effect waves-light" data-toggle="modal" data-target=".block-user">Delete
            </button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->