<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <h4>Create PT Subscription</h4>
            <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{BASE_URL}}ptSubscriptionList">List</a></li>
				<li class="breadcrumb-item activea">User account</li>
			</ol>
            {{!-- <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="d-flex flex-nowrap">
                        <a href="PT-subscriptionpage.html" class="font_12 activeb">Personal Trainer</a> &nbsp;&nbsp; <a
                            href="DT-subscriptionpage.html" class="font_12 ">Dietitian List</a>
                    </div>
                </div>
            </div> --}}
            <div class="card m-b-20">
                <div class="card-body col-sm-10  col-lg-8 col-md-12 col-xl-7  mx-auto">

                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="form-group row"><label for="example-text-input"
                            class="col-sm-4 col-form-label">Type</label>
                        <div class="col-sm-8"><input class="form-control" type="text" placeholder="Basic"
                                id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row"><label for="example-text-input"
                            class="col-sm-4 col-form-label">Price($)</label>
                        <div class="col-sm-8"><input class="form-control" type="text" placeholder="Enter price"
                                id="example-text-input"></div>
                    </div>
                    <div class="form-group row"><label class="col-sm-4 col-form-label">Duration (month)</label>
                        <div class="col-sm-8"><select class="form-control">
                                <option>Select Duration (1,3,6,12)</option>
                                <option>1</option>
                                <option>3</option>
                                <option>6</option>
                                <option>12</option>
                            </select></div>
                    </div>

                    <div class="form-group row"><label for="example-text-input"
                            class="col-sm-4 col-form-label">Programs</label>
                        <div class="col-sm-8"><input class="form-control" type="text" placeholder="Enter Number of Programs"
                                id="example-text-input"></div>
                    </div>
                    <div class="form-group row"><label for="example-text-input" class="col-sm-4 col-form-label">Custom
                            Programs</label>
                        <div class="col-sm-8"><input class="form-control" type="text"
                                placeholder="Enter Number of Customised Programs" id="example-text-input"></div>
                    </div>
                    <div class="form-group row"><label for="example-text-input"
                            class="col-sm-4 col-form-label">Classes</label>
                        <div class="col-sm-8"><input class="form-control" type="text"
                                placeholder="Enter Number of Customised Classes" id="example-text-input"></div>
                    </div>
                    <div class="form-group row"><label for="example-text-input"
                            class="col-sm-4 col-form-label">Workshops</label>
                        <div class="col-sm-8"><input class="form-control" type="text"
                                placeholder="Enter Number of Customised Workshops" id="example-text-input"></div>
                    </div>
                    <div class="text-center">
                        <a href="PT-subscriptionpage.html"> <button
                                class="btn btn-primary w-md waves-effect waves-light mt-3" type="submit">Save
                            </button></a>
                    </div>
                </div>

                <!-- end row -->

                <!-- end row -->



                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>