<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<h4>Dashboard</h4>
		<div class="container-fluid" id="dashboard">
			<div class="row">
				<div class="col-md-4 col-sm-4 ">
					<a href="/userList">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.allUsers}}</p>
								<h2>USER</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 ">
					<a href="/personalTrainersList">

						<div class="card">
							<div class="card-body text-center">
								<p>{{data.allPT}}</p>
								<h2>PTs</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 ">
					<a href="/dietitiansList">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.allDT}}</p>
								<h2>DTs</h2>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- Start content -->
			{{!-- <div class="row">
				<div class="col-md-4 col-sm-4 ">
					<a href="/userList">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.activeUser}}</p>
								<h2>Active USER</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 ">
					<a href="/personalTrainersList">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.activePT}}</p>
								<h2>Active PTs</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 ">
					<a href="/dietitiansList">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.activeDT}}</p>
								<h2>Active DTs</h2>
							</div>
						</div>
					</a>
				</div>
			</div> --}}

			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a href="/personalTrainersRegistrationRequests">
						<div class="card">
							<div class="card-body text-center">
								<p style="text-decoration:none;">{{data.ApprovalPendingPT}}</p>
								<h2>Approval Pending PTs</h2>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<a href="/dietitiansRegistrationRequests">
						<div class="card">
							<div class="card-body text-center">
								<p>{{data.ApprovalPendingDT}}</p>
								<h2>Approval Pending DTs</h2>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 ">
					<a href="/payments#">
						<div class="card">
							<div class="card-body text-center">
								{{#if data.totalAmountOfEarning.0.synrgyAmount}}
								<p>{{#changeFormat data.totalAmountOfEarning.0.synrgyAmount}}{{/changeFormat}}</p>
								<h2>Total Earning</h2>
								{{else}}
								<p>0</p>
								<h2>Total Earning</h2>
								{{/if}}
							</div>
						</div>
					</a>
				</div>

				{{!-- <div class="col-md-6 col-sm-6 ">
					<div class="card">
						<div class="card-body text-center">
							<p>12</p>
							<h2>Complaints</h2>
						</div>
					</div>
				</div> --}}
			</div>
		</div>

	</div>
</div>