<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>Dietitians List</h4>
        <div class="container-fluid">
            <div>
                <div class="card m-b-20">
                   <div class="card-body d-flex flex-nowrap col-sm-12">
                        <a href="dietitiansList" class="font_12 activeb">DT List</a> &nbsp;&nbsp; 
                        <a href="dietitiansRegistrationRequests" class="font_12">DT Request list</a>
                        <a href="dietitiansDeletedList" class="font_12">DT Deleted list</a>

                    </div>
                </div>
            </div>
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->

                    <!--personal trainer details -->
                    <div class="table table-responsive">
                        <table id="datatable1" class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>First Name
                                    </th>
                                    <th>Last Name
                                    </th>
                                    <th>Email
                                    </th>
                                    <th>Date of registration
                                    </th>
                                    <th>Blocked
                                    </th>
                                    <th>Action
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                	{{#each data}}
								<tr>
									<td>{{this.firstName}}</td>
									<td>{{this.lastName}}</td>
									<td>{{this.email}}</td>
									<td><span>{{this.createdDate}}</span>{{this.dateOfRegistration}}</td>
									{{!-- <td>
										<input class="isActive" type="checkbox" {{this.checked}} id="{{this._id}}"
											switch="none" data-id="{{this._id}}" , data-firstName="{{this.firstName}}" ,
											data-lastName="{{this.lastName}}" , data-isBlocked="{{this.isBlocked}}", data-blockedStatusChange="{{this.blockedStatusChange}}">
										<label for="{{this._id}}" data-on-label="" data-off-label=""></label>
									</td> --}}
									<td>{{this.blockStatus}}</td>
									<td class="font_delete"><a href="{{BASE_URL}}dietitiansDetails/{{this._id}}" <i class="mdi mdi-eye"
											data-name="mdi-eye"></i>
										</a></td>
								</tr>
								{{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- end row -->



            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
</div>


<script>
    	$(document).ready(function(){
		$("#datatable1").DataTable({
     'columns': [
        { data: 'First Name' }, /* index = 0 */
        { data: 'Last Name' }, /* index = 1 */
        { data: 'Email' }, /* index = 2 */
        { data: 'Date of registration' }, /* index = 3 */
        { data: 'Status' }, /* index = 4 */
		{ data: 'Action' }
     ],
     'columnDefs': [ {
        'targets': [5], /* column index */
        'orderable': false, /* true or false */
     }]
   });

		$("#datatable-buttons").DataTable({lengthChange:!1,buttons:["copy","excel","pdf","colvis"]}).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")});

</script>