<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>Dietitians Deleted List</h4>
        <div class="container-fluid">
            <div>
                <div class="card m-b-20">
                    <div class="card-body d-flex flex-nowrap col-sm-12">
                        <a href="/dietitiansList" class="font_12 ">DT List</a> &nbsp;&nbsp; <a
                            href="/dietitiansRegistrationRequests" class="font_12 ">DT Request list</a>
                        &nbsp;&nbsp; <a href="/dietitiansDeletedList" class="font_12 activeb">DT Deleted list</a>
                    </div>
                </div>
            </div>
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->

                    <div class="table table-responsive">
                        <table id="datatable1" class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>First Name
                                    </th>
                                    <th>Last Name
                                    </th>
                                    <th>Email
                                    </th>
                                    <th>Date of registration
                                    </th>
                                    <th>Date of deleted
                                    </th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{this.firstName}}</td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.email}}</td>
                                    <td><span>{{this.createdDate}}</span>{{this.dateOfRegistration}}</td>
                                    <td>{{this.dateOfDeletion}}</td>
                                    <td class="font_delete"><a href="{{BASE_URL}}dietitiansDeletedDetails/{{this._id}}"
                                            <i class="mdi mdi-eye" data-name="mdi-eye"></i>
                                        </a></td>

                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#datatable1").DataTable({
            'columns': [
                { data: 'First Name' }, /* index = 0 */
                { data: 'Last Name' }, /* index = 1 */
                { data: 'Email' }, /* index = 2 */
                { data: 'Date of registration' }, /* index = 3 */
                { data: 'Action' }
            ],
            'columnDefs': [{
                'targets': [4], /* column index */
                'orderable': false, /* true or false */
            }]
        });

        $("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
    });

</script>