<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<h4>DT's Details</h4>
		<div class="container-fluid">
			<div>
				<div class="card m-b-20">
					<div class="card-body col-sm-12">
						<a href="/dietitiansDetails/{{data._id}}" class="font_12 activeb">Profile</a> &nbsp;&nbsp;
						<a href="/dietitiansDietPlan/{{data._id}}" class="font_12">DietPlan</a>
						<a href="/dietitiansCustomizeDietPlan/{{data._id}}" class="font_12">Custom DietPlan</a>
					</div>
				</div>
			</div>
			{{!-- <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{BASE_URL}}dietitiansList">Dietitians List</a></li>
				<li class="breadcrumb-item activea">Dietitians Details</li>
			</ol> --}}
			<div class="card m-b-20">
				<div class="card-body col-sm-12">
					<div class="container">
						<div class="user-detail-maxwidth">
							<div class="row align-items-center">

								<div class="col-lg-5" align="center">
									<span class="user-img">
										<img src="{{data.profilePicUrl}}" alt="" class="img-circle" style=" margin-bottom: 10px;">
									</span>
									<br />
									<p>
										<button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".block-user">{{data.blockedStatusChange}}
											account</button>
										{{!-- <button type="reset" class="btn btn-secondary waves-effect m-l-5" data-toggle="modal" data-target=".Delete-user">Delete
											account</button></p> --}}


								</div>


								<div class="col-lg-7">
									<table class="table table-user-information">
										<tbody>
											<tr>
												<td>First Name</td>
												<td>{{data.firstName}}</td>
											</tr>
											<tr>
												<td>Last Name</td>
												<td>{{data.lastName}}</td>
											</tr>
											<tr>
												<td>Nick Name</td>
												<td>{{data.nickname}}</td>
											</tr>


											<tr>
												<td>Email address</td>
												<td>{{data.email}}</td>
											</tr>
											<tr>
												<td>Location</td>
												<td>{{data.city.name}}, {{data.country.name}}</td>
											</tr>
											<tr>
												<td>Date of registration</td>
												<td>{{data.dateOfRegistration}}</td>
											</tr>
											{{!-- <tr>
												<td>Status</td>
												<td>Active</td>
											</tr> --}}
											<tr>
												<td>Age</td>
												<td>{{data.age}}</td>
											</tr>
											<tr>
												<td>Gender</td>
												<td>{{data.gender}}</td>
											</tr>
											<tr>
												<td>Freezed</td>
												<td>{{data.freezedStatus}}</td>
											</tr>
											{{!-- <tr>
												<td>Email Verified</td>
												<td>{{data.emailVerifiedStatus}}</td>
											</tr> --}}
											{{#ifCond data.blockedStatusChange '==' 'Unblock'}}
											<tr>
												<td>Reson to blocked</td>
												<td>{{data.resonToBlocked}}</td>
											</tr>
											{{/ifCond}}
											{{!-- <tr>
												<td valign="top">Commission (%)</td>
												<td valign="top" class="">
													<div class="input-type">
														<form class="form-horizontal" id='submitForm' method="POST">
															<div class="input-type d-inline mb-1 mr-2">

																<input type="text" name="commission" class="mb-2 " value={{data.commission}}>
															
															</div>
															<button type="submit" class="btn btn-primary ">Update</button>
														</form>
															
													</div>
												</td>
											</tr> --}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="img-zoom">
							<h5 class="mt-0">Certificate</h5>
							{{#each data.certificate}}
							<img src="{{this}}" class="rounded imageClass width-287 height-287" style="width:100%;max-width:65px; margin:10px 10px 10px 0px; cursor:pointer;">
							<div id="myModal" class="modal">
								<span class="close cursor" onclick="closeModal()">&times;</span>
								<img class="modal-content" id="img01">
								<div id="caption"></div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade block-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title mt-0 text-center">Are you Sure to {{data.blockedStatusChange}}
						{{data.firstName}} {{data.lastName}} ?
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
				</div>

				<form class="statusChangeData" action="{{BASE_URL}}userStatusChange" method="POST">

					<div class="modal-body">
						<div class="form-group text-center">
							<input class="form-control" type="hidden" name="userStatus" id="userStatus" value="{{data.isBlocked}}">
							<input class="form-control" type="hidden" name="userId" id="userId" value="{{data._id}}">
							<input class="form-control" type="hidden" id="statusChangeUrl" value="{{CONST.BASE_URL}}userStatusChange">
							<input class="form-control" type="hidden" name="page" id="page" value="dietitiansDetails">
							{{#ifCond data.blockedStatusChange '==' 'Block'}}

							<div><textarea required="" name="blockReason" id="blockReason" class="form-control" rows="5" placeholder="Reason of Block"></textarea></div>
						</div>
						{{/ifCond}}
						<div class="modal-footer">
							<button id="statusbtn" type="submit" class="btn  btn-lg btn-primary waves-effect waves-light">YES</button>
							<button type="button" class="btn  btn-lg btn-secondary waves-effect waves-light" data-dismiss="modal" class="close">No</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- END wrapper -->
<script src="/assets/jquery/jquery-1.11.1.min.js"></script>
<script src="/assets/jquery/jquery.validate.min.js"></script>
<script>
	$('#submitForm').validate({
		rules: {
			commission: {
				required: true,
				number: true,
				range:  [0, 96.67]
			},
		}, messages: {
			commission: {
				required: "commission is required",
				number: "Only contain digit",
				range: "Minimum value 0 to max 96.67"
			},
		},
		submitHandler: function (form) {
			var url = '/updateCommision/{{data._id}}';
			$.ajax({
				url: url,
				type: "POST",
				data: $(form).serialize(),
				success: function (response) {
					alert(response)
				},
				error: function (data) {
					alert(data);
				}
			});
		}
	});

</script>
<script>
	var modal = document.getElementById('myModal');

	function openModal() {
		document.getElementById('myModal').style.display = "block";
	}

	function closeModal() {
		document.getElementById('myModal').style.display = "none";
	}

	var images = document.getElementsByClassName("imageClass");
	for (var i = 0; i < images.length; i++) {
		var img = images[i];
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");
		img.onclick = function () {
			modal.style.display = "block";
			modalImg.src = this.src;
			modalImg.alt = this.alt;
			captionText.innerHTML = this.alt;
		}
	}
</script>