<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>DT's DietPlans</h4>
        <div class="container-fluid">

            <div>
                <div class="card m-b-20">
                    <div class="card-body col-sm-12  d-flex-wrap-nav">
                        <a href="/dietitiansDetails/{{data}}" class="font_12">Profile</a> &nbsp;&nbsp;
                        <a href="/dietitiansDietPlan/{{data}}" class="font_12 activeb"> DietPlan</a>
                        <a href="/dietitiansCustomizeDietPlan/{{data}}" class="font_12">Custom DietPlan</a>
                    </div>
                </div>
            </div>


            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="table table-responsive">
                        <table id="datatable" class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>DietPlan Name
                                    </th>
                                    <th>Created Date
                                    </th>
                                    <th>Price (SAR)
                                    </th>
                                    <th>Number Of Purchase
                                    </th>
                                    <th>Total money Earned
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if dietPlanResult}}
                                {{#each dietPlanResult}}
                                <tr>
                                    <td>{{this.dietName}}</td>
                                    <td>{{this.createdDate}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.numberOfPurchase}}</td>
                                    <td>{{this.total}}</td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td style="text-align:center;" colspan="4">No data avalible</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>