<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div  class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="d-flex flex-nowrap">
                        <a href="/plans"  class="font_12">Personal Trainer</a> &nbsp;&nbsp;  <a href="/dtplans"  class="font_12 activeb">Dietitian List</a>
                    </div>
                </div>
            </div>

            <div  class="card m-b-20">
                <div class="card-body col-sm-12">                    
                    <div class="text-right mb-1">
                        <!--                        <a href="">    
                                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Create New</button>
                                                </a>-->
                    </div>
                    <div class="table table-responsive">
                        <table class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 300px;">Plan Name</th>
                                    <th style="width: 200px;">Duration</th>
                                    <th>Price($)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ptPlan}}
                                <tr>
                                    <td>{{this.title}}</td>
                                    <td>{{this.duration}} Days</td>
                                    <td>
                                        <input class="form-control amt" id="a{{this.title}}" type="text" value="{{this.amount}}" style="width: 80%">
                                        <input type="hidden" id="h{{this.title}}" value="{{this._id}}">
                                    </td>
                                    <td><button class="btn btn-primary {{this.title}}">Save</button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>        
    </div>  
</div>
<script>
    $(document).ready(function () {
        // Restrict input to digits by using a regular expression filter.
        $(".amt").keypress(function (event) {
            var charCode = (event.which) ? event.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;

        });
    });
    $(".Basic").on('click', function () {
        var id = $("#hBasic").val();
        var value = $("#aBasic").val();
        var data = {id: id, value: value};
        saveData(data);
    });
    $(".Gold").on('click', function () {
        var id = $("#hGold").val();
        var value = $("#aGold").val();
        var data = {id: id, value: value};
        saveData(data);
    });
    $(".Platinum").on('click', function () {
        var id = $("#hPlatinum").val();
        var value = $("#aPlatinum").val();
        var data = {id: id, value: value};
        saveData(data);
    });
    function saveData(data) {
        var url = '/updatePlan';
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function (response) {
                alert("Amount updated successfully.");
            },
            error: function (data) {
            }
        });
    }
</script>