<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>DT Subscription Plans</h4>
        <div class="container-fluid">
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <a href="ptSubscriptionList" class="font_12 ">Personal Trainer</a> &nbsp;&nbsp; <a
                        href="dtSubscriptionList" class="font_12 activeb">Dietitian List</a>
                </div>
            </div>

            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="text-right mb-1">
                        <a href="createDTSubscription"> <button class="btn btn-primary w-md waves-effect waves-light"
                                type="submit">Create New
                            </button></a>
                    </div>
                    <div class="table table-responsive">
                        <table class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Plan Name</th>
                                    <th>Price($)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Basic</td>
                                    <td>299</td>


                                    <td class="font_delete"><a href="editDTSubscription"><i class="mdi mdi-border-color"
                                                data-name="border-color"></i></a> <a href="viewDTSubscription"> <i
                                                class="mdi mdi-eye" data-name="mdi-eye"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Gold</td>
                                    <td>499</td>


                                    <td class="font_delete"><a href="PT-subscriptionpage-edit.html"><i
                                                class="mdi mdi-border-color" data-name="border-color"></i></a> <a
                                            href="PT-subscriptionpage-view.html"> <i class="mdi mdi-eye"
                                                data-name="mdi-eye"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Platinum</td>
                                    <td>699</td>


                                    <td class="font_delete"><a href="PT-subscriptionpage-edit.html"><i
                                                class="mdi mdi-border-color" data-name="border-color"></i></a> <a
                                            href="PT-subscriptionpage-view.html"> <i class="mdi mdi-eye"
                                                data-name="mdi-eye"></i></a>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>

</div>