<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <h4>Edit DT Subscription Plan</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{BASE_URL}}dtSubscriptionList">List</a></li>
            <li class="breadcrumb-item activea">Edit DT Subscription</li>
        </ol>
        {{!-- <div class="container-fluid">
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="d-flex flex-nowrap">
                        <a href="PT-subscriptionpage.html" class="font_12 ">Personal Trainer</a> &nbsp;&nbsp; <a
                            href="DT-subscriptionpage.html" class="font_12 activeb">Dietitian List</a>
                    </div>
                </div>
            </div> --}}
        <div class="card m-b-20">
            <div class="card-body col-sm-10  col-lg-8 col-md-12 col-xl-5  mx-auto">

                <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                <div class="form-group row"><label for="example-text-input" class="col-sm-4 col-form-label">Type</label>
                    <div class="col-sm-8"><input class="form-control" type="text" value="Basic" id="example-text-input"
                            disabled="disabled"></div>
                </div>
                <div class="form-group row"><label for="example-text-input"
                        class="col-sm-4 col-form-label">Price($)</label>
                    <div class="col-sm-8"><input class="form-control" type="text" value="Enter price"
                            id="example-text-input"></div>
                </div>
                <div class="form-group row"><label class="col-sm-4 col-form-label">Duration (month)</label>
                    <div class="col-sm-8"><select class="form-control" disabled="disabled">
                            <option>Select Duration (1,3,6,12)</option>
                            <option>1</option>
                            <option>3</option>
                            <option>6</option>
                            <option>12</option>
                        </select></div>
                </div>

                <div class="form-group row"><label for="example-text-input" class="col-sm-4 col-form-label">Plan</label>
                    <div class="col-sm-8"><input class="form-control" type="text" value="Enter Number of Plans"
                            id="example-text-input" disabled="disabled"></div>
                </div>
                <div class="form-group row"><label for="example-text-input" class="col-sm-4 col-form-label">Custom
                        Plan</label>
                    <div class="col-sm-8"><input class="form-control" type="text"
                            value="Enter Number of Customised Plans" id="example-text-input" disabled="disabled">
                    </div>
                </div>
                <div class="text-center">
                    <a href="DT-subscriptionpage.html"> <button
                            class="btn btn-primary w-md waves-effect waves-light mt-3" type="submit">Save
                        </button></a>
                </div>
            </div>

            <!-- end row -->

            <!-- end row -->



            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>