<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">
			<h4>Edit Terms And Condition</h4>
			<div class="card m-b-20">

				<input class="form-control" type="hidden" name="termsAndCondition" id="userStatus">
					<form method="GET" action="">
					<div class="card-body col-sm-12">
						{{!-- <input class="form-control" type="hidden" name="aboutUs" id="userStatus"> --}}

						<textarea id="editor">{{data.details}}</textarea>
    					<div id="preview"></div>
						<div class="mt-2">
							<input id="statusbtn" type="button" class="btn  btn-lg btn-primary waves-effect waves-light isActive" value="Update">
							{{!-- <button type="button" class="btn btn-primary " aria-haspopup="true">
								Cancel
							</button> --}}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script>

	$(document).on('click', '.isActive', function (e) {

		var ObjData = {
			details: CKEDITOR.instances.editor.getData(),//reference to instance
			pageType: 'termsAndCondition'
		}

		 $.ajax({
			type: 'POST',
			url: 'saveCMSInformation',
			data: ObjData,
			dataType: 'text',
			success: function (result) {
				if (result) {
					window.location.href = '/editTermsAndCoditions';
				} else {
					alert('Oops, something went wrong! Please try again.');
				}
			},
			error: function(err) {
				console.log(err);
			}
		}); 


	})
</script>
{{!-- <script>

	$(document).on('click', '.isActive', function (e) {
		
		var ObjData = {
			details: CKEDITOR.instances.editor.getData(),//reference to instance
			pageType: 'termsAndCondition'
		}
		
		 $.ajax({
            type: 'POST',
            url: 'saveCMSInformation',
            data: ObjData,
            dataType: 'json',
            success: function (json) {
                if (json && json.status == 200) {
                    window.location.href = '/cmsPages';
                } else {
                    window.location.href = '/cmsPages';
                }
            }
        });
		
		
	})
</script> --}}


