<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<h4>Finance Statistics</h4>
		<div class="container-fluid">
			<div class="card m-b-20">
				<div class="card-body col-sm-12">
					<!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
					<div class="d-flex justify-content-between flex-wrap">
						<span class="mt-0 header-title pad_none">
							{{!-- Finance Statistics --}}
						</span>
						<!-- calender -->
						<span class="calender-font align-items-center  d-flex flex-nowrap"> <span><i class="mdi mdi-calendar-check"></i>
							</span>
							<input type="text" name="daterange" class="width_100" readonly /></span>
						<!-- calender -->
					</div>
					<div id="msg" style="display:none;    font-size: 50px;    margin-top: 150px;text-align: center;">No Data Found</div>
					<div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value={{data}} id="hdata">
<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>

<script>
	$(document).ready(function () {
		//$(function () {

		var data2 = JSON.parse($("#hdata").val());
		initChart(data2);
		$('input[name="daterange"]').daterangepicker({
			opens: 'left',
			startDate: moment().subtract(7, 'day')
		}, function (start, end, label) {
			let startDateData = start
			let endDateData = end
			$.ajax({
				type: 'POST',
				url: 'financeStatisticsDate',
				data: {
					startDate: JSON.parse(JSON.stringify(startDateData)),
					endDate: JSON.parse(JSON.stringify(endDateData))
				},
				dataType: 'json',
				success: function (json) {
					initChart(json.data);
				},
				error: function (err) {
					alert(err)
				}
			});
		});
	});

	function initChart(data1) {
		var chartData = [];
		if (data1.length > 0) {
			$("#msg").hide();
			$.each(data1, function (index, value) {
				chartData.push({ "category": value.date, "column-1": value.totalSynrgyAmount })
			});
		} else {
			$("#msg").show();
		}
		AmCharts.makeChart("chartdiv", {
			"type": "serial",
			"categoryField": "category",
			"sequencedAnimation": false,
			"categoryAxis": {
				"gridPosition": "start",
				"startOnAxis": true,
				"autoGridCount": false,
				"axisAlpha": 0.37,
				"fillAlpha": 0.27,
				"minorGridAlpha": 0.47
			},
			"trendLines": [],
			"graphs": [
				{
					"balloonText": "[[category]]:[[value]]",
					"bullet": "round",
					"fillAlphas": 0.65,
					"fillColors": "#d3f1f9",
					"id": "AmGraph-1",
					"lineColor": "#44bbe3",
					"title": "graph 1",
					"type": "smoothedLine",
					"valueAxis": "ValueAxis-1",
					"valueField": "column-1",
					"visibleInLegend": false,
					"xAxis": "ValueAxis-1",
					"yAxis": "ValueAxis-1"
				}
			],
			"guides": [],
			"valueAxes": [
				{
					"id": "ValueAxis-1",
					"title": "Axis title",
					"titleFontSize": 0
				}
			],
			"allLabels": [],
			"balloon": {
				"fillAlpha": 1,
				"offsetY": 16,
				"showBullet": true
			},
			"categoryAxis": {
				"autoRotateAngle": 45,
				"autoRotateCount": 6
			},
			"titles": [
				{
					"id": "Title-1",
					"size": 15,
					"text": ""
				}
			],
			"dataProvider": chartData
		}
		);
	}
</script>