<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page Management">
	<!-- Start content -->
	<div class="content">
    <h4>Measurements Management</h4>
		<div class="container-fluid">
			<div  class="card m-b-20">
			<div class="card-body col-sm-12 wrapper-pagea">
			
				<div class="row">
	<div class="col-xl-6 ">
		<table  class="table  border">
			<tbody class="rounded">
			<tr><th class="text-center manage_bg"><h5>Fitness measurements</h5></th></tr>
		</tbody>
		<tbody>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline"> 
                    <label class="custom-control-label" for="customControlInline" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Weight</span>
                    </label>
                  </div></td></tr>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline1"> 
                    <label class="custom-control-label" for="customControlInline1" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Length</span>
                    </label>
                  </div></td></tr>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea2"> 
                    <label class="custom-control-label" for="customControlInlinea2" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Heart rate</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline3"> 
                    <label class="custom-control-label" for="customControlInline3" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Blood pressure</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline10"> 
                    <label class="custom-control-label" for="customControlInline10" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Body composition</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline4"> 
                    <label class="custom-control-label" for="customControlInline4" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Body mass index</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline5"> 
                    <label class="custom-control-label" for="customControlInline5" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Body fat percentage</span>
                    </label>
                  </div></td></tr>
                      <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline6"> 
                    <label class="custom-control-label" for="customControlInline6" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Number of steps</span>
                    </label>
                  </div></td></tr>
                    <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline7"> 
                    <label class="custom-control-label" for="customControlInline7" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Distance travelled</span>
                    </label>
                  </div></td></tr>
                   <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInline8"> 
                    <label class="custom-control-label" for="customControlInline8" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Pace</span>
                    </label>
                  </div></td></tr>
			</tbody>
		</table>
	</div>
	<div class="col-xl-6 ">
		<table  class="table  border">
			<tbody class="rounded">
			<tr><th class="text-center manage_bg"><h5>Nutrition measurements</h5></th></tr>
		</tbody>
		<tbody>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea"> 
                    <label class="custom-control-label" for="customControlInlinea" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Nutrition metrics</span>
                    </label>
                  </div></td></tr>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea1"> 
                    <label class="custom-control-label" for="customControlInlinea1" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Calories</span>
                    </label>
                  </div></td></tr>
			<tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea2a"> 
                    <label class="custom-control-label" for="customControlInlinea2a" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Liquid intake</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea3"> 
                    <label class="custom-control-label" for="customControlInlinea3" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Protein density</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea4"> 
                    <label class="custom-control-label" for="customControlInlinea4" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Basal Metabolic Rate</span>
                    </label>
                  </div></td></tr>
                  <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea5"> 
                    <label class="custom-control-label" for="customControlInlinea5" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Hunger and fullness level</span>
                    </label>
                  </div></td></tr>
                      <tr><td><div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customControlInlinea6"> 
                    <label class="custom-control-label" for="customControlInlinea6" style="padding-right: 10px;margin-left: 10px;"><span style="margin-left: 10px;">Blood sugar</span>
                    </label>
                  </div></td></tr>
                   
			</tbody>
		</table>
	</div>
				</div>
				<div class="text-center m-t-20">
				  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Save
                  </button>
			 </div>
			</div>
			</div>
			<!-- end row -->
		
			<!-- end row -->
	


<!-- end row -->
</div>
<!-- container-fluid -->
</div>
<!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->