<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card m-b-20">
        <div class="card-body col-sm-12">
          <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->

          <div class="payments-upcoming-section">
            <ul class="nav nav-tabs clearfix" role="tablist">
              <li role="presentation"><a class="active" href="#pay-tab1" aria-controls="home" role="tab" data-toggle="tab">
                  <strong>$
                    {{#if upcomingPayment.0.total}}
                    {{upcomingPaymentAmount}}
                    {{else}}
                    0
                    {{/if}}
                  </strong>
                  Upcoming Payouts</a></li>
              <li role="presentation"><a href="#pay-tab2" aria-controls="profile" role="tab" data-toggle="tab">

                  <strong>
                    {{#if completedPayment.0.total}}
                    {{completedPaymentAmount}}
                    {{else}}
                    0
                    {{/if}}
                  </strong>

                  Total Payouts</a></li>
              <li role="presentation"><a href="#pay-tab3" aria-controls="messages" role="tab" data-toggle="tab">
                  <strong>{{#if totalEarningPayment.0.totalAmountOfEarning}}
                    {{totalEarningPaymentAmount}}
                    {{else}}
                    0
                    {{/if}}
                  </strong>Total Earning</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Tab panes1 -->
              <div role="tabpanel" class="tab-pane active" id="pay-tab1">
                {{!-- <div class="table table-responsive">
                  <table id="datatable1a" class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount to be Paid (SAR)</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each upcomingPayment}}
                      {{#if data.ptName}}
                      <tr>
                        <td> <a href="userDetails/{{ data.ptId }}">{{data.ptName}}</a></td>
                        <td>Personal trainer</td>
                        <td>{{data.total}}</td>
                        <td>
                          <a class="btn btn-primary m-0 delete-company" data-toggle="modal" data-target="#deleteModal"
                            data-id="{{ data.ptId }}" data-url="payments/{{ data.ptId }}" style="color:#ffffff;">
                            Pay
                          </a>
                        </td>
                      </tr>

                      {{else}}
                      <tr>
                        <td><a href="userDetails/{{ data.dtId }}">{{data.dtName}}</a></td>
                        <td>Dietitian</td>
                        <td>{{data.total}}</td>
                        <td>
                          <a class="btn btn-primary m-0 delete-company" data-toggle="modal" data-target="#deleteModal"
                            data-id="{{ data.dtId }}" data-url="payments/{{ data.dtId }}" style="color:#ffffff;">
                            Pay
                          </a>
                        </td>
                      </tr>
                      {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
                </div> --}}
                <div class="table table-responsive">
                  <table id="datatable1" class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Total</th>
                        <th>Amount to be Paid (SAR)</th>
                        <th>Commission</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each upcomingPayment}}
                      {{#if data.ptName}}
                      <tr>
                        <td> <a href="userDetails/{{ data.ptId }}">{{data.ptName}}</a></td>
                        <td>Personal trainer</td>
                        <td>{{data.totalAmount}}</td>
                        <td>{{#changeFormat data.ptdtPrice}}{{/changeFormat}}</td>
                        <td>{{data.commission}}</td>
                        <td>
                          <a class="btn btn-primary m-0 delete-company" data-toggle="modal" data-target="#deleteModal"
                            data-id="{{ data.ptId }}" data-url="payments/{{ data.ptId }}" style="color:#ffffff;">
                            Pay
                          </a>
                        </td>
                      </tr>

                      {{else}}
                      <tr>
                        <td><a href="userDetails/{{ data.dtId }}">{{data.dtName}}</a></td>
                        <td>Dietitian</td>
                        <td>{{#changeFormat data.totalAmount}}{{/changeFormat}}</td>
                        <td>{{#changeFormat data.ptdtPrice}}{{/changeFormat}}</td>
                        <td>{{#changeFormat data.commission}}{{/changeFormat}}</td>
                        <td>
                          <a class="btn btn-primary m-0 delete-company" data-toggle="modal" data-target="#deleteModal"
                            data-id="{{ data.dtId }}" data-url="payments/{{ data.dtId }}" style="color:#ffffff;">
                            Pay
                          </a>
                        </td>
                      </tr>
                      {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //Tab panes1 -->


              <!-- Tab panes2 -->
              <div role="tabpanel" class="tab-pane" id="pay-tab2">
                {{!-- <div class="table table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount Paid (SAR)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each completedPayment}}
                      {{#if data.ptName}}
                      <tr>
                        <td>{{data.ptName}}</td>
                        <td>Personal trainer</td>
                        <td>{{data.total}}</td>

                      </tr>
                      {{else}}
                      <tr>
                        <td>{{data.dtName}}</td>
                        <td>Dietitian</td>
                        <td>{{data.total}}</td>
                      </tr>
                      {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
                </div> --}}
                <div class="table table-responsive">
                  <table id="datatable2" class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Amount Paid (SAR)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each completedPayment}}
                      {{#if data.ptName}}
                      <tr>
                        <td>{{data.ptName}}</td>
                        <td>Personal trainer</td>
                        <td>{{data.total}}</td>

                      </tr>
                      {{else}}
                      <tr>
                        <td>{{data.dtName}}</td>
                        <td>Dietitian</td>
                        <td>{{data.total}}</td>
                      </tr>
                      {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //Tab panes2 -->
              <!-- Tab panes3 -->
              <div role="tabpanel" class="tab-pane" id="pay-tab3">
                <div class="table table-responsive">
                  <table id="datatable3" class="table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                      <tr>
                        <th>Month</th>
                        <th>Total Amount Paid (SAR)</th>
                        <th>Total Commission Earn (SAR)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each totalEarningPayment}}
                      {{#if data.months}}
                      <tr>
                        <td>{{data.months}} - {{data.year}}</td>
                        <td>{{data.total}}</td>
                        <td>{{data.synrgyAmount}}</td>

                      </tr>
                      {{/if}}
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //Tab panes3 -->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <!-- end row -->

      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
</div>

<form action="" method="get" id="deleteForm">
  <input type="hidden" name="id" value="">
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="modal-header">
					  	<h4 class="modal-title mt-0 mr-3 text-center">     
                Are you sure you want to pay?
						</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
						</button>
					</div>
			 <div class="modal-body text-center font-14">
       
          <button type="button" class="btn  btn-lg btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
          <button type="submit" class="btn  btn-lg btn-primary waves-effect waves-light">Pay</button>
        </div>
       
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
  <div class="modal fade" id="deleteModala" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        
        
         
      </div>
    </div>
  </div>
</form>
	
<script>
  window.onload = function () {
    var url = document.location.toString();
    if (url.match('#')) {
      $('.nav-tabs a[href="#pay-tab3"]').tab('show');
    }
  } 
</script>

<script type="text/javascript">
  $(document).ready(function () {
    // For A Delete Record Popup
    $('.delete-company').click(function () {
      var id = $(this).attr('data-id');
      var url = $(this).attr('data-url');

      $("#deleteForm", 'input').val(id);
      $("#deleteForm").attr("action", url);
    });
  });
</script>

<script>
  $(document).ready(function () {
    $("#datatable1").DataTable({
      'columns': [
        { data: 'Name' }, /* index = 0 */
        { data: 'Type' }, /* index = 1 */
        { data: 'Total' },
        { data: 'Amount to be Paid (SAR)' }, /* index = 2 */
        { data: 'Commission' }
      ],
      'columnDefs': [
       { "width": "20%", "targets": 0 },
      { "width": "20%", "targets": 1 },
      { "width": "10%", "targets": 2 },
      { "width": "40%", "targets": 3 },
      { "width": "10%", "targets": 4 },
      { "width": "10%", "targets": 5 }]
    });

    $("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
  });


  $(document).ready(function () {
    $("#datatable2").DataTable({
      'columns': [
         { data: 'Name' }, /* index = 0 */
        { data: 'Type' }, /* index = 1 */
        { data: 'Amount to be Paid (SAR)' }, /* index = 2 */
      ]
    });

    $("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
  });


  $(document).ready(function () {
    $("#datatable3").DataTable({
      'columns': [
        { data: 'Month' }, /* index = 0 */
        { data: 'Total Amount Paid (SAR)' }, /* index = 1 */
        { data: 'Total Commission Earn (SAR)' }, /* index = 2 */

      ],

    });

    $("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
  });

</script>