<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{BASE_URL}}personalTrainersRegistrationRequests">PT Request
                        list</a>
                </li>
                <li class="breadcrumb-item activea">Personal Trainer account</li>
            </ol>
            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="container">
                        <div class="user-detail-maxwidth">
                            <div class="row align-items-center">



                                <div class=" col-lg-5" align="center">


                                    <span>
                                        <img src="{{data.profilePicUrl}}" alt="" class="img-circle"
                                            style=" margin-bottom: 10px;">
                                    </span><br />

                                    <button type="submit" class="btn btn-primary waves-effect waves-light"
                                        data-toggle="modal" data-target=".approve-user">APPROVE</button>
                                    <button type="reset" class="btn btn-secondary waves-effect m-l-5"
                                        data-toggle="modal" data-target=".decline-user">DECLINE</button>
                                </div>


                                <div class="  col-lg-7">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>First Name</td>
                                                <td>{{data.firstName}}</td>
                                            </tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td>{{data.lastName}}</td>
                                            </tr>
                                            <tr>
                                                <td>Nick Name</td>
                                                <td>{{data.nickname}}</td>
                                            </tr>


                                            <tr>
                                                <td>Email address</td>
                                                <td>{{data.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Location</td>
                                                <td>{{data.city.name}}, {{data.country.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Date of registration</td>
                                                <td>{{data.dateOfRegistration}}</td>
                                            </tr>
                                            {{!-- <tr>
												<td>Status</td>
												<td>Active</td>
											</tr> --}}
                                            <tr>
                                                <td>Age</td>
                                                <td>{{data.age}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>{{data.gender}}</td>
                                            </tr>

                                            <tr>
                                                <td>Email Verified</td>
                                                <td>{{data.emailVerifiedStatus}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- The zoom img -->
                        <div id="img-zoom">
                            <h5 class="mt-0">Certificate</h5>
                            {{#each data.certificate}}
                            <img src="{{this}}" class="rounded imageClass width-287"
                                style="width:100%;max-width:65px; margin:10px 10px 10px 0px;">
                            <div id="myModal" class="modal">
                                <span class="close cursor" onclick="closeModal()">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade approve-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-0 text-center">Are you Sure to Approve {{data.firstName}}
                        {{data.lastName}} ?
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form class="statusChangeData" action="{{BASE_URL}}certificateApproveDecline" method="POST">

                    <div class="modal-body">
                        <div class="form-group text-center">
                            <input class="form-control" type="hidden" name="userStatus" id="userStatus" value=1>
                            <input class="form-control" type="hidden" name="userId" id="userId" value="{{data._id}}">
                            {{!-- <input class="form-control" type="hidden" id="statusChangeUrl"
								value="{{CONST.BASE_URL}}userStatusChange"> --}}
                            <input class="form-control" type="hidden" name="page" id="page"
                                value="personalTrainersRegistrationRequests">

                            {{!-- <div><textarea required="" name="reason" id="reason" class="form-control" rows="5"
                                    placeholder="Reason to Approve"></textarea></div> --}}
                        </div>
                        <div class="modal-footer">
                            <button id="statusbtn" type="submit"
                                class="btn  btn-lg btn-primary waves-effect waves-light">YES</button></a>
                            <button type="button" class="btn  btn-lg btn-secondary waves-effect waves-light"
                                data-dismiss="modal" class="close">No</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade decline-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-0 text-center">Are you Sure to Decline {{data.firstName}}
                        {{data.lastName}} ?
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                </div>
                <form class="statusChangeData" action="{{BASE_URL}}certificateApproveDecline" method="POST">

                    <div class="modal-body">
                        <div class="form-group text-center">
                            <input class="form-control" type="hidden" name="userStatus" id="userStatus" value=2>
                            <input class="form-control" type="hidden" name="userId" id="userId" value="{{data._id}}">
                            <input class="form-control" type="hidden" id="statusChangeUrl"
                                value="{{CONST.BASE_URL}}userStatusChange">
                            <input class="form-control" type="hidden" name="page" id="page"
                                value="personalTrainersRegistrationRequests">

                            <div><textarea required="" name="reason" id="reason" class="form-control" rows="5"
                                    placeholder="Reason to Decline"></textarea></div>
                        </div>
                        <div class="modal-footer">
                            <button id="statusbtn" type="submit"
                                class="btn  btn-lg btn-primary waves-effect waves-light">YES</button></a>
                            <button type="button" class="btn  btn-lg btn-secondary waves-effect waves-light"
                                data-dismiss="modal" class="close">No</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->

<script>
    var modal = document.getElementById('myModal');

    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var images = document.getElementsByClassName("imageClass");
    for (var i = 0; i < images.length; i++) {
        var img = images[i];
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalImg.alt = this.alt;
            captionText.innerHTML = this.alt;
        }
    }
</script>
<!-- zoom  js -->