<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container-fluid">
			<ol class="breadcrumb"><li class="breadcrumb-item"><a href="Personal-Trainers-Registration-requests.html">PT Request list</a></li><li class="breadcrumb-item activea">Personal Trainer account</li></ol> 
			<div  class="card m-b-20">
			<div class="card-body col-sm-12">
<div class="container">
		<div class="user-detail-maxwidth">
      <div class="row">
      
       
            
                <div class=" col-lg-5" align="center">
                	
                	<a href="index.html"  class="user-img">
<span>
<img src="assets/images/use-img-details.png" alt="" class="img-circle" style=" margin-bottom: 10px;" >
</span></a><br/>

<button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".block-user">APPROVE</button>
                <button type="reset" class="btn btn-secondary waves-effect m-l-5" data-toggle="modal" data-target=".Delete-user" >DECLINE</button>


               </div>
                
            
                <div class="  col-lg-7"> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name</td>
                        <td>Jonathan</td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td>Welch</td>
                      </tr>
                      <tr>
                        <td>Nickname</td>
                        <td>Frederick Blake</td>
                      </tr>
                       <tr>
                        <td>  Current status</td>
                        <td>New</td>
                      </tr>
                     <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                    <tr>
                        <td>Age</td>
                        <td>25</td>
                      </tr>
                       
                             <tr>
                        <td>Email address</td>
                        <td>lucius.weissnat@gmail.com</td>
                      </tr>
                       
                      
                          <tr>
                        <td>Phone number</td>
                        <td>606-771-5939</td>
                      </tr>
                        <tr>
                        <td>Address</td>
                        <td>928 Reichel Spur Apt. 943</td>
                      </tr>
                       <tr>
                        <td>Date of registration</td>
                        <td>07 Jul 2018</td>
                      </tr>
                   
                      
                     
                    </tbody>
                  </table>
                  
                
                </div>
               

  </div>
    </div>
           <h5  class="mt-0">Certificate</h5>
                	<img src="assets/images/img_certficatei.jpg" class="rounded  width-287">     
			
			</div>

                	
               
			<!-- end row -->
		</div>
			<!-- end row -->
	


<!-- end row -->
</div>
<!-- container-fluid -->
</div>
<!-- content 
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>
</footer>-->
</div>
 <div class="modal fade block-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title mt-0 text-center">Do you realy want to Approve Dietitian account?
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                              </div>
                              <div class="modal-body">
                              <div class="form-group text-center"><div><textarea required="" class="form-control" rows="5" placeholder="Reason of Block"></textarea></div></div>
                               <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary   btn-lg waves-effect waves-light" data-dismiss="modal" >Cancel</button>
                              <button type="submit" class="btn btn-primary   btn-lg waves-effect waves-light">Approve</button>
                          </div>
                              </div>

                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
                        <div class="modal fade Delete-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title mt-0 text-center">Do you realy want to Decline Dietitian account?
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                              </div>
                              <div class="modal-body">
                              <div class="form-group text-center"><div><textarea required="" class="form-control" rows="5" placeholder="Reason of Block"></textarea></div></div>
                              <div class="modal-footer">
                            
                                <button type="submit" class="btn  btn-lg btn-secondary waves-effect waves-light"  data-dismiss="modal" >Cancel</button>
                              <button type="submit" class="btn  btn-lg btn-primary waves-effect waves-light">Decline</button>
                              </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                        </div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
		</div>
		<!-- END wrapper -->