<div class="content-page">
    <!-- Start content -->
    <div class="content">
    <h4>PT's Custom Programs</h4>
        <div class="container-fluid">

            <div>
				<div class="card m-b-20">
					<div class="card-body col-sm-12  d-flex-wrap-nav">
						<a href="/personalTrainersDetails/{{ptId}}" class="font_12">Profile</a> &nbsp;&nbsp;
						<a href="/personalTrainersPrograms/{{ptId}}" class="font_12">Programs</a>
						<a href="/personalTrainersCustomPrograms/{{ptId}}" class="font_12 activeb">Custom Programs</a> &nbsp;&nbsp;
						<a href="/personalTrainersClass/{{ptId}}" class="font_12">Class</a>
						<a href="/personalTrainersWorkshops/{{ptId}}" class="font_12">Workshops</a>
					</div>
				</div>
			</div>


            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="table table-responsive">
                        <table id="datatable" class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Program Name
                                    </th>
                                    <th>Created Date
                                    </th>
                                    <th>Price(SAR)
                                    </th>
                                    <th>Assigned To
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{this.programName}}</td>
                                    <td>{{this.createdDate}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.assignedTo}}</td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
