<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <h4>Settings</h4>
    <div class="container-fluid">
      <div class="card m-b-20">
        <div class="card-body col-sm-12 wrapper-page">
          <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->

          <div class="p-3 text-center">
            <h5>Change password</h5>
            <form class="form-horizontal m-t-30 " id='submitForm' method="POST">
              <div class="form-group">
                <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
              </div>
              <div class="form-group  m-t-20">

                <div class="text-center">
                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Change
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<script src="/assets/jquery/jquery-1.11.1.min.js"></script>
<script src="/assets/jquery/jquery.validate.min.js"></script>


<script>
  jQuery.validator.addMethod("noSpace", function (value, element) {
    return value.indexOf(" ") < 0 && value != "";
  }, "No space please and don't leave it empty");

  jQuery.validator.addMethod("pwcheck", function (value) {
    return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
      && /[A-Z]/.test(value) // has a uppercase letter
      && /\d/.test(value) // has a digit
  });

  jQuery.validator.addMethod("notEqualTo", function (value, element, param) {
    return this.optional(element) || value != $(param).val();
  }, "This has to be different...");

  $("#submitForm").validate({
    rules: {
      currentPassword: {
        required: true,
        noSpace: true,
        pwcheck: true,
        minlength: 8
      },
      newPassword: {
        required: true,
        noSpace: true,
        pwcheck: true,
        minlength: 8,
        notEqualTo: "#currentPassword"
      },
      confirmPassword: {
        required: true,
        pwcheck: true,
        equalTo: "#newPassword",
        noSpace: true,
        minlength: 8
      },
    },
    messages: {
      currentPassword: {
        required: "Password is required",
        pwcheck: "Password should contain atleast one digit and Uppercase letter",
        noSpace: "Space not allowed",
        minlength: "Password at least 8 character"
      },
      newPassword: {
        required: "New password is required",
        noSpace: "Space not allowed",
        pwcheck: "Password should contain atleast one digit and Uppercase letter",
        minlength: "Password at least 8 character",
        notEqualTo: "New Password must not be same as old password"
      },
      confirmPassword: {
        required: "Confirm password is required",
        noSpace: "Space not allowed",
        pwcheck: "Password should contain atleast one digit and Uppercase letter",
        minlength: "Password at least 8 character",
        equalTo: "Confirm password must be same as new password"
      },
    }
  });
  
  $("#submitForm").submit(function (e) {
    flag = 0;
    e.preventDefault(); // avoid to execute the actual submit of the form.
    var form = $(this);
    var url = '/resetPassword';
    
    var currentPassword = $("input[name=currentPassword]").val();
    var newPassword = $("input[name=newPassword]").val();
    var confirmPassword = $("input[name=confirmPassword]").val();

    if(currentPassword == '') {
      flag = 1;
      $('#currentPassword-error').html('Password is required.');
    } else {
      $('#currentPassword-error').html('');
    }
    if(newPassword == '') {
      flag = 1;
      $('#newPassword-error').html('New password is required.');
    } else {
      $('#newPassword-error').html('');
    }
    if(confirmPassword == '') {
      flag = 1;
      $('#confirmPassword-error').html('Confirm password is required.');
    } else {
      $('#confirmPassword-error').html('');
    }
    
    if(flag == 0) {
      if (newPassword == confirmPassword) {
        $.ajax({
          type: "POST",
          url: url,
          data: form.serialize(), // serializes the form's elements.
          success: function (data) {
            if (data == 'Password changed successfully') {
              window.location.href = '/settings';
            }
          },
          error: function (data) {
            alert(data);
          }
        });
      }
    }
  });


</script>