<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<h4>List of User</h4>
		<div class="container-fluid">

			<div>
				<div class="card m-b-20">
					<div class="card-body col-sm-12">
						<a href="/userList" class="font_12 activeb">User List</a> &nbsp;&nbsp;
						<a href="/userDeletedList" class="font_12">Deleted User List</a>
					</div>
				</div>
			</div>


			<div class="card m-b-20">
				<div class="card-body col-sm-12">
					<!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
					<div class="table table-responsive">
						<table id="datatable1" class="table-bordered"
							style="border-collapse: collapse; border-spacing: 0; width: 100%;">
							<thead>
								<tr>
									<th>First Name
									</th>
									<th>Last Name
									</th>
									<th>Email
									</th>
									<th>Date of registration
									</th>
									{{!-- <th>Status
									</th> --}}
									<th>
										Blocked
									</th>
									<th>
										Action
									</th>

								</tr>
							</thead>
							<tbody>
								{{#each data}}
								<tr>
									<td>{{this.firstName}}</td>
									<td>{{this.lastName}}</td>
									<td>{{this.email}}</td>
									<td><span>{{this.createdDate}}</span>{{this.dateOfRegistration}}</td>
									{{!-- <td><span> </span>{{#dateFormat this.dateOfRegistration}}{{/dateFormat}}</td>  --}}
									{{!-- <td>
										<input class="isActive" type="checkbox" {{this.checked}} id="{{this._id}}"
											switch="none" data-id="{{this._id}}" , data-firstName="{{this.firstName}}" ,
											data-lastName="{{this.lastName}}" , data-isBlocked="{{this.isBlocked}}", data-blockedStatusChange="{{this.blockedStatusChange}}">
										<label for="{{this._id}}" data-on-label="" data-off-label=""></label>
									</td> --}}
									<td>{{this.blockStatus}}</td>
									<td class="font_delete"><a href="{{BASE_URL}}userDetails/{{this._id}}" <i class="mdi mdi-eye"
											data-name="mdi-eye"></i>
										</a></td>
								</tr>
								{{/each}}
							</tbody>

						</table>
					</div>
				</div>
			</div>
			<!-- end row -->

			<!-- end row -->



			<!-- end row -->
		</div>
		<!-- container-fluid -->
	</div>
</div>


<div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title mt-0 text-center" id="question">
				</h4>
				<button onclick="window.location.href = 'userList'" type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×
				</button>
			</div>


			<form class="statusChangeData" action="{{BASE_URL}}userStatusChange" method="POST">
				<div class="modal-body">

					<input class="form-control" type="hidden" name="userStatus" id="userStatus">
					<input class="form-control" type="hidden" name="userId" id="userId">
					<input class="form-control" type="hidden" name="page" id="page" value="userList">
					<input class="form-control" type="hidden" id="statusChangeUrl" value="{{BASE_URL}}userStatusChange">

					{{!-- <div class="form-group text-center">
					</div> --}}
					<div class="modal-footer">
						<input type="submit" id="statusbtn" value="YES"
							class="btn  btn-lg btn-primary waves-effect waves-light"></a>
						<input type="button" value="NO" class="btn  btn-lg btn-secondary waves-effect waves-light"
							data-dismiss="modal" onclick="window.location.href = 'userList'">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).on('click', '.isActive', function (e) {
		console.log($(this));
		var userIsBlocked = $(this).data('isblocked');
		var userId = $(this).data('id');
		var userFirstName = $(this).data('firstname');
		var userLastName = $(this).data('lastname');
		//	var userMsg = userIsBlocked == true ? 'Unblock' : 'Block';
		var blockedStatusChange = $(this).data('blockedstatuschange');

		$("#question").text("Are you Sure to " + blockedStatusChange + " " + userFirstName + " " + userLastName + " ?");
		$('#userId').val(userId);
		$('#userStatus').val(userIsBlocked);

		$("#changeStatus").modal('show');
	})

	$(document).ready(function () {
		$("#datatable1").DataTable({
			'columns': [
				{ data: 'First Name' }, /* index = 0 */
				{ data: 'Last Name' }, /* index = 1 */
				{ data: 'Email' }, /* index = 2 */
				{ data: 'Date of registration' }, /* index = 3 */
				{ data: 'Status' }, /* index = 4 */
				{ data: 'Action' }
			],
			'columnDefs': [{
				'targets': [5], /* column index */
				'orderable': false, /* true or false */
			}]
		});

		$("#datatable-buttons").DataTable({ lengthChange: !1, buttons: ["copy", "excel", "pdf", "colvis"] }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)")
	});

</script>