<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<h4>User's  Details</h4>
		<div>
		<div class="card m-b-20">
			<div class="card-body col-sm-12">
				<a href="/userDetails/{{data._id}}" class="font_12 activeb">Profile</a> &nbsp;&nbsp;
				<a href="/userPlans/{{data._id}}" class="font_12">Plan</a>
			</div>
		</div>
	</div>
		<div class="container-fluid">
			{{!-- <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{BASE_URL}}userList">List</a></li>
				<li class="breadcrumb-item activea">User account</li>
			</ol> --}}
			<div class="card m-b-20">
				<div class="card-body col-sm-12">
					<div class="container">
						<div class="user-detail-maxwidth">
							<div class="row align-items-center">



								<div class=" col-lg-5" align="center">
									<span>
										<img src="{{data.profilePicUrl}}" alt="" class="img-circle"
											style=" margin-bottom: 10px;">
									</span>
									<br />

									<button type="submit" class="btn btn-primary waves-effect waves-light"
										data-toggle="modal" data-target=".block-user">{{data.blockedStatusChange}}
										account</button>
								</div>


								<div class=" col-lg-7">
									<table class="table table-user-information">
										<tbody>
											<tr>
												<td>First Name</td>
												<td>{{data.firstName}}</td>
											</tr>
											<tr>
												<td>Last Name</td>
												<td>{{data.lastName}}</td>
											</tr>
											<tr>
												<td>Nick Name</td>
												<td>{{data.nickname}}</td>
											</tr>


											<tr>
												<td>Email address</td>
												<td>{{data.email}}</td>
											</tr>
											<tr>
												<td>Location</td>
												<td>{{data.city.name}}, {{data.country.name}}</td>
											</tr>
											<tr>
												<td>Date of registration</td>
												<td>{{data.dateOfRegistration}}</td>
											</tr>
											{{!-- <tr>
												<td>Status</td>
												<td>Active</td>
											</tr> --}}
											<tr>
												<td>Age</td>
												<td>{{data.age}}</td>
											</tr>
											<tr>
												<td>Gender</td>
												<td>{{data.gender}}</td>
											</tr>
											<tr>
												<td>Freezed</td>
												<td>{{data.freezedStatus}}</td>
											</tr>
											{{!-- <tr>
												<td>Email Verified</td>
												<td>{{data.emailVerifiedStatus}}</td>
											</tr> --}}
											{{#ifCond data.blockedStatusChange '==' 'Unblock'}}
											<tr>
												<td>Reson to blocked</td>
												<td>{{data.resonToBlocked}}</td>
											</tr>
											{{/ifCond}}

										</tbody>
									</table>


								</div>
							</div>
						</div>


					</div>
					<!-- end row -->
				</div>
				<!-- end row -->



				<!-- end row -->
			</div>
			<!-- container-fluid -->
		</div>
	</div>

	<div class="modal fade block-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title mt-0 text-center">Are you Sure to {{data.blockedStatusChange}}
						{{data.firstName}} {{data.lastName}} ?
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
				</div>

				<form class="statusChangeData" action="{{BASE_URL}}userStatusChange" method="POST">

					<div class="modal-body">
						<div class="form-group text-center">
							<input class="form-control" type="hidden" name="userStatus" id="userStatus"
								value="{{data.isBlocked}}">
							<input class="form-control" type="hidden" name="userId" id="userId" value="{{data._id}}">
							<input class="form-control" type="hidden" id="statusChangeUrl"
								value="{{CONST.BASE_URL}}userStatusChange">
							<input class="form-control" type="hidden" name="page" id="page" value="userDetails">
							{{#ifCond data.blockedStatusChange '==' 'Block'}}

							<div><textarea required="" name="blockReason" id="blockReason" class="form-control" rows="5"
									placeholder="Reason of Block"></textarea></div>
						</div>
						{{/ifCond}}
						<div class="modal-footer">
							<button id="statusbtn" type="submit" onclick="location.href='{{BASE_URL}}userList'"
								class="btn  btn-lg btn-primary waves-effect waves-light">YES</button>
							<button type="button" class="btn  btn-lg btn-secondary waves-effect waves-light"
								onclick="location.href='{{BASE_URL}}userList'" data-dismiss="modal"
								class="close">No</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->
</div>