<div class="content-page">
    <!-- Start content -->
    <div class="content">
    <h4>User's Plan</h4>
        <div class="container-fluid">

            <div>
                <div class="card m-b-20">
                    <div class="card-body col-sm-12">
                        <a href="/userDetails/{{userId}}" class="font_12">Profile</a> &nbsp;&nbsp;
                        <a href="/userPlans/{{userId}}" class="font_12 activeb">Plan</a>
                    </div>
                </div>
            </div>


            <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <div class="table table-responsive">
                        <table id="datatable" class="table-bordered"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Program Name
                                    </th>
                                    <th>Type
                                    </th>
                                    <th>Created By
                                    </th>
                                    <th>Price
                                    </th>
                                    <th>
                                        Date Of Purchase
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{this.programName}}</td>
                                    <td>{{this.planType1}}</td>
                                    <td>{{this.createdBy}}</td>
                                    <td>{{this.price}}</td>
                                    <td><span>{{this.createdDate}}</span>{{this.dateOfPurchase}}</td>
                                    
    
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- end row -->



            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
</div>


<div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0 text-center" id="question">
                </h4>
                <button onclick="window.location.href = 'userList'" type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×
                </button>
            </div>


            <form class="statusChangeData" action="{{BASE_URL}}userStatusChange" method="POST">
                <div class="modal-body">

                    <input class="form-control" type="hidden" name="userStatus" id="userStatus">
                    <input class="form-control" type="hidden" name="userId" id="userId">
                    <input class="form-control" type="hidden" name="page" id="page" value="userList">
                    <input class="form-control" type="hidden" id="statusChangeUrl" value="{{BASE_URL}}userStatusChange">

                    {{!-- <div class="form-group text-center">
					</div> --}}
                    <div class="modal-footer">
                        <input type="submit" id="statusbtn" value="YES"
                            class="btn  btn-lg btn-primary waves-effect waves-light"></a>
                        <input type="button" value="NO" class="btn  btn-lg btn-secondary waves-effect waves-light"
                            data-dismiss="modal" onclick="window.location.href = 'userList'">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

