<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <h4>PT Subscription Plan</h4>
              <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{BASE_URL}}ptSubscriptionList">List</a></li>
				<li class="breadcrumb-item activea">PT Subscription Details</li>
			</ol>

            {{!-- <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="d-flex flex-nowrap">
                        <a href="PT-subscriptionpage.html" class="font_12 activeb">Personal Trainer</a> &nbsp;&nbsp; <a
                            href="DT-subscriptionpage.html" class="font_12 ">Dietitian List</a>
                    </div>
                </div>
            </div> --}}
            <div class="card m-b-20">
                <div class="card-body  mx-auto">

                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Type:</td>
                                <td>Basic</td>
                            </tr>
                            <tr>
                                <td>Price($):</td>
                                <td>Enter price</td>
                            </tr>
                            <tr>
                                <td>Duration(month):</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Programs:</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Programs Plan:</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Classes:</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>Workshops:</td>
                                <td>10</td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- end row -->

                    <!-- end row -->



                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- content
<footer class="footer">© 2018 Lexa - 
<span class="d-none d-sm-inline-block">Crafted with 
<i class="mdi mdi-heart text-danger"></i> by Themesbrand
</span>.
</footer> -->
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>
</div>