<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <h4>DT Subscription Plan</h4>
            <ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{{BASE_URL}}dtSubscriptionList">List</a></li>
				<li class="breadcrumb-item activea">DT Subscription Details</li>
			</ol>

            {{!-- <div class="card m-b-20">
                <div class="card-body col-sm-12">
                    <div class="d-flex flex-nowrap">
                        <a href="PT-subscriptionpage.html" class="font_12 ">Personal Trainer</a> &nbsp;&nbsp; <a
                            href="DT-subscriptionpage.html" class="font_12 activeb">Dietitian List</a>
                    </div>
                </div>
            </div> --}}

            <div class="card m-b-20">
                <div class="card-body  mx-auto">

                    <!-- <div class="form-group"><div><input data-parsley-type="alphanum" type="text" class="form-control" required="" placeholder="Search something…"><button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button></div></div> -->
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Type</td>
                                <td>Basic</td>
                            </tr>
                            <tr>
                                <td>Price($)</td>
                                <td>Enter price</td>
                            </tr>
                            <tr>
                                <td>Duration(month)</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Plan</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Custom Plan</td>
                                <td>50</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- container-fluid -->
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>