<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv='Cache-Control' , content='no-store, no-cache, must-revalidate'>
	<meta http-equiv='Pragma' , content='no-cache'>
	<meta http-equiv='Expires' , content='-1'>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
	<title>Fitness - {{pageTilte}}</title>
	<meta content="Admin Dashboard" name="description">
	<meta content="Themesbrand" name="author">
	<link rel="shortcut icon" href="{{BASE_URL}}assets/images/favicon.png">
	<link rel="stylesheet" href="{{BASE_URL}}plugins/morris/morris.css">
	<script src="{{BASE_URL}}assets/js/ckeditor.js"></script>
	<script src="{{BASE_URL}}assets/js/sample.js">
	</script>
	<!-- DataTables -->
	<link href="{{BASE_URL}}plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<link href="{{BASE_URL}}plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<!-- Responsive datatable examples -->
	<link href="{{BASE_URL}}plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
	<link href="{{BASE_URL}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{BASE_URL}}assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
	<link href="{{BASE_URL}}assets/css/icons.css" rel="stylesheet" type="text/css">
	<link href="{{BASE_URL}}assets/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{BASE_URL}}plugins/chartist/css/chartist.min.css">
	<link rel="stylesheet" type="text/css" href="{{BASE_URL}}assets/css/daterangepicker.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<!-- Begin page -->
	<div id="wrapper">
		<!-- Top Bar Start -->
		<div class="topbar">
			<!-- LOGO -->
			<div class="topbar-left">
				<div class="back_color">
					<a href="{{BASE_URL}}dashboard" class="user-img">

						<img src="{{BASE_URL}}assets/images/user-img.png" alt="" style=" margin-bottom: 10px;">
						<br />
						{{!-- <span class="text2">Elijah Farmer</span><br /><span class="text1">Admin</span> --}}
						<span class="text2">Admin</span><br /><span class="text1"></span>

					</a>
				</div>
			</div>


			<nav class="navbar-custom">
				<ul class="navbar-right d-flex list-inline mb-0 justify-content-between align-items-center">
					<li class="float-left">
						<button class="button-menu-mobile open-left waves-effect">
							<i class="mdi mdi-menu"></i>
						</button>
					</li>
					<li class="">

					</li>
					<li class="">
						<a href="#logout" data-toggle="modal">
							Log Out</a>
					</li>

				</ul>

			</nav>
		</div>

		<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title mt-0 text-center">Do you realy want to Logout?
						</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group text-center">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn  btn-lg btn-secondary waves-effect waves-light"
								data-dismiss="modal">Cancel</button>
							<a href="{{BASE_URL}}logout"> <button type="submit"
									class="btn  btn-lg btn-primary waves-effect waves-light">Logout</button></a>
						</div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>