<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
	<div class="slimscroll-menu" id="remove-scroll">
		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu" id="side-menu">
				<li>
					<a href="{{BASE_URL}}dashboard" class="waves-effect">
						<i class="">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M23.8,13.3c-0.9-5.1-3.8-8.5-8.5-10c-4.9-1.4-9.2-0.1-12.4,4c-3.2,4-3.6,8.5-1.6,13.2
			c0.2,0.6,0.6,0.7,1.2,0.7c3.2,0,6.4,0,9.6,0c3.2,0,6.5,0,9.7,0c0.6,0,0.9-0.2,1.1-0.7C23.9,18.2,24.3,15.8,23.8,13.3z M22.4,16.4
			c-0.1,1.1-0.4,2.1-0.8,3.1c-0.1,0.4-0.4,0.3-0.6,0.3c-3,0-6,0-9,0c-3,0-6,0-9,0c-0.4,0-0.6-0.1-0.7-0.5c-0.3-0.9-0.5-1.8-0.7-2.8
			c0-0.3,0-0.5,0.4-0.5c0.3,0,0.6,0,1,0c0.5,0,0.8-0.3,0.8-0.8c0-0.5-0.3-0.7-0.8-0.7c-0.1,0-0.1,0-0.2,0c-1.3,0-1.3,0-1-1.3
			c0.1-0.8,0.4-1.5,0.6-2.2c0.2-0.4,0.3-0.4,0.6-0.2c0.3,0.2,0.6,0.4,0.9,0.5c0.4,0.2,0.7,0.1,0.9-0.3c0.2-0.4,0.2-0.8-0.2-1
			C4.3,9.7,4,9.5,3.7,9.3C3.4,9.2,3.4,9.1,3.6,8.8C4.2,7.9,5,7.1,5.9,6.4c0.2-0.2,0.4-0.1,0.5,0.1c0.2,0.3,0.3,0.7,0.5,1
			c0.2,0.4,0.6,0.5,1,0.3c0.4-0.2,0.5-0.6,0.3-1.1C8.1,6.6,8,6.5,8,6.4c-0.6-1-0.6-1,0.5-1.4c0.8-0.3,1.6-0.5,2.4-0.6
			c0.3,0,0.4,0,0.4,0.3c0,0.4,0,0.8,0,1.1c0,0.5,0.3,0.8,0.8,0.8c0.4,0,0.7-0.3,0.7-0.8c0-0.1,0-0.2,0-0.3c0-1.3,0-1.3,1.2-1.1
			c0.7,0.1,1.4,0.4,2.1,0.6c0.4,0.1,0.5,0.3,0.2,0.7c-0.2,0.3-0.4,0.6-0.5,0.9c-0.2,0.4-0.1,0.8,0.3,1c0.4,0.2,0.7,0.1,1-0.2
			c0.2-0.3,0.4-0.7,0.6-1c0.1-0.2,0.2-0.3,0.5-0.1c0.9,0.7,1.6,1.5,2.3,2.4c0.2,0.3,0.1,0.4-0.1,0.5c-0.3,0.2-0.6,0.4-0.9,0.6
			c-0.4,0.3-0.5,0.6-0.3,1c0.2,0.4,0.6,0.5,1,0.3c0.1-0.1,0.2-0.1,0.3-0.2c1-0.6,1-0.6,1.4,0.5c0.3,0.8,0.4,1.6,0.5,2.4
			c0,0.3-0.1,0.4-0.3,0.4c-0.3,0-0.7,0-1,0c-0.5,0-0.8,0.3-0.8,0.7c0,0.5,0.3,0.8,0.8,0.8c0.3,0,0.7,0,1,0
			C22.4,15.9,22.4,16.1,22.4,16.4z M11,15.1c-0.6,0.5-0.5,1.4,0.1,1.9c0.6,0.5,1.5,0.4,1.9-0.3c1.2-1.8,2.3-3.5,3.3-5.4
			c0.1-0.2,0.3-0.4,0.2-0.7c-0.1,0.1-0.2,0.1-0.3,0.1C14.4,12.1,12.7,13.6,11,15.1z" />
									</g>
								</g>
							</svg>
						</i>
						<span>Dashboard</span>
					</a>
				</li>


				<li class="{{#ifCond title '==' 'userList' }} active1 {{/ifCond}}
						   {{#ifCond title '==' 'userDetails' }} active1 {{/ifCond}}
						   {{#ifCond title '==' 'userDeletedList' }} active1 {{/ifCond}}
						   {{#ifCond title '==' 'userPlans' }} active1 {{/ifCond}}
						   {{#ifCond title '==' 'userDeletedDetails' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}userList" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<path class="st1" d="M11.9,12.8h0.1c1.2,0,2.2-0.4,2.9-1.3c1.6-1.8,1.3-4.9,1.3-5.2c-0.1-2.2-1.1-3.3-2-3.8C13.6,2.2,12.9,2,12,2
		H12c-0.5,0-1.4,0.1-2.2,0.6c-0.9,0.5-1.9,1.5-2,3.8c0,0.3-0.3,3.4,1.3,5.2C9.7,12.3,10.7,12.8,11.9,12.8L11.9,12.8z M8.8,6.4
		C8.8,6.4,8.8,6.4,8.8,6.4c0.1-3,2.2-3.3,3.2-3.3h0c1.1,0,3,0.5,3.1,3.3c0,0,0,0,0,0c0,0,0.3,2.8-1,4.3c-0.5,0.6-1.2,0.9-2.1,0.9h0
		c-0.9,0-1.6-0.3-2.1-0.9C8.5,9.3,8.8,6.5,8.8,6.4L8.8,6.4z" />
									<path class="st1" d="M20.5,17.9L20.5,17.9c0,0,0-0.1,0-0.1c0-0.8-0.1-2.7-1.9-3.4c0,0,0,0,0,0c-1.9-0.5-3.4-1.6-3.4-1.6
		c-0.3-0.2-0.6-0.1-0.8,0.1c-0.2,0.3-0.1,0.6,0.1,0.8c0.1,0,1.7,1.2,3.8,1.7c1,0.3,1.1,1.4,1.1,2.3c0,0,0,0.1,0,0.1
		c0,0.4,0,0.9-0.1,1.3c-0.7,0.4-3.3,1.7-7.3,1.7c-4,0-6.6-1.3-7.3-1.7c-0.1-0.3-0.1-0.9-0.1-1.3c0,0,0-0.1,0-0.1
		c0-0.9,0.1-2,1.1-2.3c2.1-0.5,3.7-1.7,3.8-1.7c0.3-0.2,0.3-0.5,0.1-0.8c-0.2-0.3-0.5-0.3-0.8-0.1c0,0-1.6,1.1-3.4,1.6c0,0,0,0,0,0
		C3.6,15,3.5,17,3.5,17.8c0,0,0,0.1,0,0.1v0c0,0.2,0,1.3,0.2,1.9c0,0.1,0.1,0.2,0.2,0.3C4,20.1,7,22,12,22s8-1.9,8.1-2
		c0.1-0.1,0.2-0.2,0.2-0.3C20.5,19.2,20.5,18.1,20.5,17.9L20.5,17.9z" />
								</g>
							</svg>
						</i>
						<span>User list</span>
					</a>
				</li>
				<li class="{{#ifCond title '==' 'personalTrainersList' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'personalTrainersDetails' }} active1 {{/ifCond}}
				 		{{#ifCond title '==' 'personalTrainersRequestDetails' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'personalTrainersDeletedList' }} active1 {{/ifCond}}
                        {{#ifCond title '==' 'personalTrainersRegistrationRequests' }} active1 {{/ifCond}}

						{{#ifCond title '==' 'personalTrainersPrograms' }} active1 {{/ifCond}}
				 		{{#ifCond title '==' 'personalTrainersCustomPrograms' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'personalTrainersClass' }} active1 {{/ifCond}}
                        {{#ifCond title '==' 'personalTrainersWorkshops' }} active1 {{/ifCond}}
						
						

						{{#ifCond title '==' 'personalTrainersDeletedDetails' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}personalTrainersList" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<path class="st1" d="M21.4,7.5H12c-0.3,0-0.6,0.3-0.6,0.6v0.6h-1.2V8.1c0-0.3-0.3-0.6-0.6-0.6h-1l0,0c-3.3,0-6.2,2.5-6.6,5.7
	c-0.2,1.6,0.1,3.1,0.9,4.5c-0.6,0.4-1,1.2-1,2C2,20.9,3.1,22,4.3,22c1,0,1.8-0.6,2.2-1.5c0.6,0.2,1.3,0.3,1.9,0.3
	c0.4,0,0.8,0,1.2-0.1c1.3-0.2,2.5-0.9,3.4-1.9c0.9-1,1.5-2.2,1.8-3.6c0,0,0,0,0-0.1c0.2-1.3,1.1-2.2,2.3-2.4l4.4-0.5
	c0.3,0,0.5-0.3,0.5-0.6V8.1C22,7.7,21.7,7.5,21.4,7.5L21.4,7.5z M4.3,20.8c-0.6,0-1.2-0.5-1.2-1.2c0-0.4,0.2-0.8,0.5-1
	c0.1,0.1,0.2,0.2,0.3,0.3c0.4,0.4,0.9,0.8,1.5,1.1C5.3,20.5,4.8,20.8,4.3,20.8L4.3,20.8z M16.9,11.6c-0.8,0.1-1.6,0.5-2.2,1.1
	c-0.6,0.6-0.9,1.4-1.1,2.3c0,0,0,0,0,0.1c-0.3,2.2-2.1,4-4.2,4.4c-1.1,0.2-2.1,0.1-3.1-0.3c0,0,0,0-0.1,0c-0.5-0.3-1.1-0.6-1.5-1.1
	c-0.2-0.2-0.4-0.4-0.5-0.6c0,0,0,0,0,0c-0.9-1.2-1.2-2.6-1-4.1c0.4-2.7,2.7-4.7,5.4-4.7H9v0.6c0,0.3,0.3,0.6,0.6,0.6H12
	c0.3,0,0.6-0.3,0.6-0.6V8.7h5.9v2.8L16.9,11.6z M20.8,11.2l-1.2,0.1V8.7h1.2V11.2z M10.8,5c0.3,0,0.6-0.3,0.6-0.6V2.6
	c0-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0.3-0.6,0.6v1.8C10.2,4.8,10.5,5,10.8,5z M13.1,6.2c0.1,0,0.3-0.1,0.4-0.2l1.2-1.2
	c0.2-0.2,0.2-0.6,0-0.9c-0.2-0.2-0.6-0.2-0.8,0l-1.2,1.2c-0.2,0.2-0.2,0.6,0,0.9C12.8,6.2,13,6.2,13.1,6.2z M8,6.1
	c0.1,0.1,0.3,0.2,0.4,0.2c0.1,0,0.3-0.1,0.4-0.2c0.2-0.2,0.2-0.6,0-0.9L7.7,4C7.5,3.8,7.1,3.8,6.9,4c-0.2,0.2-0.2,0.6,0,0.9L8,6.1z"
								/>
								<path class="st1" d="M12,9c-1.7,0-3,1.4-3,3c0,1.7,1.4,3,3,3c1.7,0,3-1.4,3-3C15,10.3,13.7,9,12,9z M12,13.8c-1,0-1.8-0.8-1.8-1.8
	s0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8S13,13.8,12,13.8z" />
							</svg>
						</i>
						<span>Personal Trainers</span>
					</a>
				</li>

				<li class="{{#ifCond title '==' 'dietitiansList' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'dietitiansDetails' }} active1 {{/ifCond}}
				 		{{#ifCond title '==' 'dietitiansRegistrationRequests' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'dietitiansDeletedList' }} active1 {{/ifCond}}
                        {{#ifCond title '==' 'dietitiansRegistrationRequestsDetails' }} active1 {{/ifCond}}
						{{#ifCond title '==' 'dietitiansDeletedDetails' }} active1 {{/ifCond}}
								{{#ifCond title '==' 'dietitiansDietPlan' }} active1 {{/ifCond}}
				 		{{#ifCond title '==' 'dietitiansCustomizeDietPlan' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}dietitiansList" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<path class="st1" d="M17,6.9c-1.6-0.4-3.3,0-4.2,1c0,0.1-0.1,0.1-0.2,0.1c0.2-2.1,2-3.7,4.1-3.7c0.3,0,0.6-0.3,0.6-0.6
	S17,3.2,16.7,3.2c-1.7,0-3.2,0.8-4.2,2.1c-0.4-1.9-2-3.2-4-3.2H6.1C5.8,2,5.6,2.3,5.6,2.6c0,2.3,1.8,4.1,4.1,4.1h2.1
	c-0.2,0.4-0.3,0.9-0.3,1.4c-0.1,0-0.1-0.1-0.2-0.2c-1-1-2.6-1.4-4.2-1.1c-1.7,0.4-3,1.6-3.5,3.3c-0.4,1.5-0.5,3.3-0.2,4.9
	c0.3,1.8,1,3.5,2,4.8c1,1.4,2.3,2.1,3.5,2.1c0.5,0,0.9-0.1,1.4-0.4c0.6-0.3,1.2-0.5,1.8-0.5c0.6,0,1.2,0.2,1.8,0.5
	c0.4,0.2,0.9,0.4,1.4,0.4c1.2,0,2.4-0.8,3.5-2.1c1-1.3,1.7-3,2-4.8c0.3-1.6,0.2-3.3-0.2-4.8C20,8.6,18.7,7.4,17,6.9L17,6.9z
	 M9.7,5.5c-1.4,0-2.6-1-2.9-2.3h1.7c1.4,0,2.6,1,2.9,2.3H9.7z M19.5,14.9c-0.3,1.6-0.9,3.1-1.8,4.3c-0.8,1.1-1.7,1.7-2.5,1.7
	c-0.3,0-0.6-0.1-0.8-0.2C13.6,20.2,12.8,20,12,20c-0.8,0-1.6,0.2-2.3,0.6c-0.3,0.1-0.5,0.2-0.8,0.2c-0.8,0-1.7-0.6-2.5-1.7
	c-0.9-1.1-1.5-2.7-1.8-4.3c-0.3-1.5-0.2-3.1,0.2-4.4C5.1,9.2,6.1,8.3,7.4,8c1.2-0.3,2.3,0,3,0.7c0.4,0.4,1,0.7,1.6,0.7h0
	c0.6,0,1.2-0.3,1.6-0.7c0.6-0.7,1.9-0.9,3.1-0.6c0.8,0.2,2.1,0.8,2.6,2.5C19.6,11.9,19.7,13.5,19.5,14.9L19.5,14.9z" />
							</svg>
						</i>
						<span>Dietitians

						</span>
					</a>
				</li>



				<li class="{{#ifCond title '==' 'payments' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}payments" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st0 {
										fill: #8699ad;
									}
								</style>
								<g>
									<path class="st0" d="M0,17.7C0,13.9,0,10,0,6.2C0,6.1,0.1,6,0.1,5.8c0.4-1.4,1.6-2.3,3-2.3c5.9,0,11.8,0,17.7,0
		c1.4,0,2.6,0.9,3,2.3C23.9,6,23.9,6.1,24,6.3c0,3.8,0,7.6,0,11.4c0,0.1-0.1,0.2-0.1,0.3c-0.4,1.4-1.6,2.4-3.1,2.4
		c-5.9,0-11.8,0-17.6,0c-1.5,0-2.7-1-3.1-2.4C0.1,17.9,0,17.8,0,17.7z M1.6,9.2c0,0.2,0,0.4,0,0.6c0,2.4,0,4.7,0,7.1
		c0,1.5,0.6,2.1,2,2.1c5.6,0,11.2,0,16.8,0c1.5,0,2-0.6,2-2c0-2.4,0-4.8,0-7.1c0-0.2,0-0.4,0-0.6C15.5,9.2,8.5,9.2,1.6,9.2z
		 M22.4,7.5c0.3-1.5-0.5-2.6-2-2.5c-1.3,0.1-2.6,0-3.8,0c-4.4,0-8.7,0-13.1,0c-0.6,0-1.2,0.1-1.6,0.7C1.5,6.3,1.5,6.9,1.6,7.5
		C8.5,7.5,15.5,7.5,22.4,7.5z" />
									<path class="st0" d="M21.6,14.2c0,2-2,3.4-3.9,2.8C17.4,17,17.2,17,17,17c-1.3,0.4-2.6,0-3.4-1.1c-0.8-1.1-0.8-2.5,0-3.5
		c0.8-1.1,2.1-1.5,3.4-1.1c0.2,0.1,0.4,0,0.6,0C19.6,10.7,21.6,12.2,21.6,14.2z M17.3,15c1,0.7,1.7,0.7,2.3,0.1
		c0.5-0.5,0.5-1.3,0.1-1.9c-0.5-0.7-1.2-0.7-2.4,0c-1.2-0.7-1.8-0.7-2.4,0c-0.4,0.5-0.4,1.3,0.1,1.8C15.5,15.8,16.2,15.7,17.3,15z"
									/>
									<path class="st0" d="M10.5,16.4c-2.4,0-4.8,0-7.2,0c0-0.5,0-1,0-1.5c2.4,0,4.8,0,7.2,0C10.5,15.4,10.5,15.9,10.5,16.4z" />
									<path class="st0" d="M8.7,12c0,0.5,0,1,0,1.5c-1.8,0-3.6,0-5.5,0c0-0.5,0-1,0-1.5C5,12,6.9,12,8.7,12z" />
								</g>
							</svg>
						</i>
						<span>Payments

						</span>
					</a>
				</li>








				<li>
					<a href="{{BASE_URL}}financeStatistics" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10c5.5,0,10-4.5,10-10S17.5,2,12,2z M12,20.7c-4.8,0-8.7-3.9-8.7-8.7
			c0-4.8,3.9-8.7,8.7-8.7s8.7,3.9,8.7,8.7C20.7,16.8,16.8,20.7,12,20.7z M12.7,11.4V7.7c0.4,0.1,0.7,0.4,0.9,0.7
			c0.2,0.3,0.6,0.4,0.9,0.2c0.3-0.2,0.4-0.6,0.2-0.9c-0.5-0.7-1.2-1.2-2-1.4v-1c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7v1
			C9.9,6.6,8.8,7.9,8.8,9.4c0,1.5,1.1,2.8,2.6,3.1v3.7c-0.4-0.1-0.7-0.4-0.9-0.7c-0.2-0.3-0.6-0.4-0.9-0.2c-0.3,0.2-0.4,0.6-0.2,0.9
			c0.5,0.7,1.2,1.2,2,1.4v1c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7v-1c1.5-0.3,2.6-1.6,2.6-3.1C15.2,13,14.1,11.7,12.7,11.4z
			 M11.3,11.2c-0.7-0.3-1.2-1-1.2-1.8c0-0.8,0.5-1.5,1.2-1.8V11.2z M12.7,16.3v-3.5c0.7,0.3,1.2,1,1.2,1.8
			C13.9,15.4,13.4,16.1,12.7,16.3z" />
									</g>
								</g>
							</svg>
						</i>
						<span> Finance Statistics

						</span>
					</a>

				</li>
				{{!--
				<li class="{{#ifCond title '==' 'complaintsManagement' }} active1 {{/ifCond}}
                        {{#ifCond title '==' 'complaintsManagementViewDetails' }} active1 {{/ifCond}}">

					<a href="{{BASE_URL}}complaintsManagement" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<path class="st1" d="M14.3,15.2c0.5-0.5,0.9-0.9,1.4-1.4c0.3-0.3,0.7-0.6,1.2-0.7c0.7-0.1,1.4,0.1,1.9,0.6c0.7,0.7,1.5,1.5,2.2,2.2
	c0.1,0.1,0.2,0.2,0.3,0.3c0.9,0.9,0.9,2.1,0.1,3.1c-0.2,0.2-0.4,0.4-0.5,0.5c-0.3,0.3-0.6,0.7-1,1c-0.7,0.8-1.7,1.1-2.7,1.1
	c-1.2,0-2.3-0.4-3.4-0.9c-3.3-1.4-6-3.6-8.2-6.4c-1.3-1.6-2.3-3.4-3-5.4C2.2,8.4,2,7.5,2,6.5c0-0.8,0.3-1.6,0.9-2.2
	C3.5,3.8,4,3.2,4.6,2.7c0.9-0.9,2.2-0.9,3.1,0c0.9,0.8,1.7,1.7,2.5,2.5c0.6,0.6,0.8,1.3,0.6,2.2c-0.1,0.4-0.3,0.7-0.6,0.9
	C9.7,8.7,9.3,9.2,8.9,9.6c-0.1,0.1-0.1,0.1,0,0.2c0.4,0.8,1,1.5,1.6,2.2c0.8,1,1.8,1.8,2.8,2.5C13.6,14.8,13.9,15,14.3,15.2z
	 M3.4,6.8c0,0.2,0,0.5,0.1,0.7c0.1,0.9,0.4,1.7,0.8,2.6c2,4.2,5.1,7.3,9.2,9.4c1.1,0.5,2.2,1,3.4,1.1c0.8,0.1,1.5-0.1,2.1-0.8
	c0.2-0.3,0.5-0.5,0.7-0.7c0.2-0.2,0.5-0.5,0.7-0.7c0.3-0.3,0.3-0.7,0-1c0-0.1-0.1-0.1-0.1-0.2c-0.8-0.8-1.6-1.6-2.4-2.4
	c-0.1-0.1-0.1-0.1-0.2-0.1c-0.2-0.2-0.5-0.2-0.7,0c-0.1,0.1-0.2,0.2-0.4,0.3c-0.5,0.5-1,1-1.5,1.4c-0.3,0.3-0.7,0.4-1.1,0.2
	c-0.4-0.2-0.8-0.4-1.2-0.7c-1.3-0.8-2.5-1.9-3.5-3.1c-0.7-0.8-1.4-1.7-1.8-2.7C7.2,9.6,7.3,9.2,7.8,8.8c0.5-0.5,1-0.9,1.5-1.4
	c0.4-0.4,0.4-0.8,0-1.2c0,0,0,0-0.1-0.1c-0.7-0.7-1.3-1.4-2-2C7,3.9,6.8,3.7,6.6,3.5C6.3,3.3,6,3.3,5.7,3.5C5.6,3.6,5.6,3.6,5.5,3.7
	C5,4.1,4.6,4.6,4.1,5C3.6,5.5,3.4,6.1,3.4,6.8z" />
							</svg>
						</i>
						<span> Complaints Management
						</span>
					</a>

				</li> --}} {{!--
				<li>
					<a href="{{BASE_URL}}measurementsManagement" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M6.3,11c0-0.1-0.1-0.1-0.2-0.2c0.4-0.4,0.8-0.8,1.2-1.2C7,9.3,6.7,9,6.3,8.7C6,9,5.6,9.4,5.2,9.8
			C4.8,9.4,4.3,8.9,3.9,8.5C5.5,7,7,5.5,8.6,3.9c0.8,0.8,1.6,1.6,2.4,2.4c0.3-0.3,0.6-0.6,1-1c-0.1,0-0.1-0.1-0.2-0.1
			C10.7,4.2,9.6,3.1,8.5,2c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2C6.3,4.2,4.2,6.3,2.1,8.4c0,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0
			c1.1,1.1,2.3,2.3,3.4,3.4C5.7,11.6,6,11.3,6.3,11z M18.6,12.1c-0.3,0.3-0.7,0.7-1,1c0.8,0.8,1.6,1.6,2.4,2.4
			c-1.5,1.5-3.1,3.1-4.6,4.6c-0.4-0.4-0.9-0.9-1.3-1.3c0.4-0.4,0.8-0.8,1.1-1.1c-0.3-0.3-0.6-0.6-0.9-1c-0.4,0.4-0.8,0.8-1.2,1.2
			c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3,0.3-0.6,0.6-0.9,0.9c1.1,1.1,2.3,2.3,3.4,3.4c0,0,0.1-0.1,0.1-0.2c2.1-2.1,4.1-4.1,6.2-6.2
			c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0,0,0,0C20.9,14.3,19.7,13.2,18.6,12.1z M19.7,9c1.3-1.4,1.2-3.6-0.2-4.9c-1.3-1.2-3.3-1.1-4.6,0.2
			c-3.6,3.6-7.2,7.2-10.7,10.7C4,15.2,4,15.4,3.9,15.6c-0.1,1.2-0.3,2.4-0.4,3.6c-0.1,0.5-0.1,1-0.2,1.5c0,0,0.1,0,0.1,0
			c1.7-0.2,3.4-0.4,5.1-0.6c0.1,0,0.3-0.1,0.4-0.2c3.2-3.2,6.4-6.3,9.5-9.5C18.9,9.9,19.3,9.4,19.7,9z M18.7,5.2
			c0.8,0.7,0.8,1.9,0.2,2.7C18,7,17,6,16.1,5.1C16.8,4.5,18,4.5,18.7,5.2z M15.1,6.1C15.4,6.4,15.7,6.7,16,7c-3,3-6,6-9,9
			c-0.3-0.3-0.6-0.6-0.9-0.9C9.1,12.1,12.1,9.1,15.1,6.1z M4.9,19.1c0.1-1,0.2-2,0.4-2.9c0.9,0.9,1.7,1.7,2.6,2.6
			C6.8,18.9,5.9,19,4.9,19.1z M8.9,17.9C8.6,17.6,8.3,17.3,8,17c3-3,6-6,9-9c0.3,0.3,0.6,0.6,0.9,0.9C14.9,11.9,11.9,14.9,8.9,17.9z
			" />
									</g>
								</g>
							</svg>
						</i>
						<span>Measurements Management

						</span>
					</a>

				</li> --}} {{!--
				<li class="{{#ifCond title '==' 'ptSubscriptionList' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'dtSubscriptionList' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'createPTSubscription' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'createDTSubscription' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'editPTSubscription' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'editDTSubscription' }} active1 {{/ifCond}}
				{{#ifCond title '==' 'viewPTSubscription' }} active1 {{/ifCond}}
                {{#ifCond title '==' 'viewDTSubscription' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}ptSubscriptionList" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M6.3,11c0-0.1-0.1-0.1-0.2-0.2c0.4-0.4,0.8-0.8,1.2-1.2C7,9.3,6.7,9,6.3,8.7C6,9,5.6,9.4,5.2,9.8
			C4.8,9.4,4.3,8.9,3.9,8.5C5.5,7,7,5.5,8.6,3.9c0.8,0.8,1.6,1.6,2.4,2.4c0.3-0.3,0.6-0.6,1-1c-0.1,0-0.1-0.1-0.2-0.1
			C10.7,4.2,9.6,3.1,8.5,2c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2C6.3,4.2,4.2,6.3,2.1,8.4c0,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0
			c1.1,1.1,2.3,2.3,3.4,3.4C5.7,11.6,6,11.3,6.3,11z M18.6,12.1c-0.3,0.3-0.7,0.7-1,1c0.8,0.8,1.6,1.6,2.4,2.4
			c-1.5,1.5-3.1,3.1-4.6,4.6c-0.4-0.4-0.9-0.9-1.3-1.3c0.4-0.4,0.8-0.8,1.1-1.1c-0.3-0.3-0.6-0.6-0.9-1c-0.4,0.4-0.8,0.8-1.2,1.2
			c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3,0.3-0.6,0.6-0.9,0.9c1.1,1.1,2.3,2.3,3.4,3.4c0,0,0.1-0.1,0.1-0.2c2.1-2.1,4.1-4.1,6.2-6.2
			c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0,0,0,0C20.9,14.3,19.7,13.2,18.6,12.1z M19.7,9c1.3-1.4,1.2-3.6-0.2-4.9c-1.3-1.2-3.3-1.1-4.6,0.2
			c-3.6,3.6-7.2,7.2-10.7,10.7C4,15.2,4,15.4,3.9,15.6c-0.1,1.2-0.3,2.4-0.4,3.6c-0.1,0.5-0.1,1-0.2,1.5c0,0,0.1,0,0.1,0
			c1.7-0.2,3.4-0.4,5.1-0.6c0.1,0,0.3-0.1,0.4-0.2c3.2-3.2,6.4-6.3,9.5-9.5C18.9,9.9,19.3,9.4,19.7,9z M18.7,5.2
			c0.8,0.7,0.8,1.9,0.2,2.7C18,7,17,6,16.1,5.1C16.8,4.5,18,4.5,18.7,5.2z M15.1,6.1C15.4,6.4,15.7,6.7,16,7c-3,3-6,6-9,9
			c-0.3-0.3-0.6-0.6-0.9-0.9C9.1,12.1,12.1,9.1,15.1,6.1z M4.9,19.1c0.1-1,0.2-2,0.4-2.9c0.9,0.9,1.7,1.7,2.6,2.6
			C6.8,18.9,5.9,19,4.9,19.1z M8.9,17.9C8.6,17.6,8.3,17.3,8,17c3-3,6-6,9-9c0.3,0.3,0.6,0.6,0.9,0.9C14.9,11.9,11.9,14.9,8.9,17.9z
			" />
									</g>
								</g>
							</svg>
						</i>
						<span>Subscription Plan
						</span>
					</a>
				</li> --}}

				<li class="{{#ifCond title '==' 'cmsPages' }} active1 {{/ifCond}}
                        {{#ifCond title '==' 'editAboutUs' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}cmsPages" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M6.3,11c0-0.1-0.1-0.1-0.2-0.2c0.4-0.4,0.8-0.8,1.2-1.2C7,9.3,6.7,9,6.3,8.7C6,9,5.6,9.4,5.2,9.8
			C4.8,9.4,4.3,8.9,3.9,8.5C5.5,7,7,5.5,8.6,3.9c0.8,0.8,1.6,1.6,2.4,2.4c0.3-0.3,0.6-0.6,1-1c-0.1,0-0.1-0.1-0.2-0.1
			C10.7,4.2,9.6,3.1,8.5,2c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2C6.3,4.2,4.2,6.3,2.1,8.4c0,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0
			c1.1,1.1,2.3,2.3,3.4,3.4C5.7,11.6,6,11.3,6.3,11z M18.6,12.1c-0.3,0.3-0.7,0.7-1,1c0.8,0.8,1.6,1.6,2.4,2.4
			c-1.5,1.5-3.1,3.1-4.6,4.6c-0.4-0.4-0.9-0.9-1.3-1.3c0.4-0.4,0.8-0.8,1.1-1.1c-0.3-0.3-0.6-0.6-0.9-1c-0.4,0.4-0.8,0.8-1.2,1.2
			c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3,0.3-0.6,0.6-0.9,0.9c1.1,1.1,2.3,2.3,3.4,3.4c0,0,0.1-0.1,0.1-0.2c2.1-2.1,4.1-4.1,6.2-6.2
			c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0,0,0,0C20.9,14.3,19.7,13.2,18.6,12.1z M19.7,9c1.3-1.4,1.2-3.6-0.2-4.9c-1.3-1.2-3.3-1.1-4.6,0.2
			c-3.6,3.6-7.2,7.2-10.7,10.7C4,15.2,4,15.4,3.9,15.6c-0.1,1.2-0.3,2.4-0.4,3.6c-0.1,0.5-0.1,1-0.2,1.5c0,0,0.1,0,0.1,0
			c1.7-0.2,3.4-0.4,5.1-0.6c0.1,0,0.3-0.1,0.4-0.2c3.2-3.2,6.4-6.3,9.5-9.5C18.9,9.9,19.3,9.4,19.7,9z M18.7,5.2
			c0.8,0.7,0.8,1.9,0.2,2.7C18,7,17,6,16.1,5.1C16.8,4.5,18,4.5,18.7,5.2z M15.1,6.1C15.4,6.4,15.7,6.7,16,7c-3,3-6,6-9,9
			c-0.3-0.3-0.6-0.6-0.9-0.9C9.1,12.1,12.1,9.1,15.1,6.1z M4.9,19.1c0.1-1,0.2-2,0.4-2.9c0.9,0.9,1.7,1.7,2.6,2.6
			C6.8,18.9,5.9,19,4.9,19.1z M8.9,17.9C8.6,17.6,8.3,17.3,8,17c3-3,6-6,9-9c0.3,0.3,0.6,0.6,0.9,0.9C14.9,11.9,11.9,14.9,8.9,17.9z
			" />
									</g>
								</g>
							</svg>
						</i>
						<span>CMS Pages</span>
					</a>
				</li>
				
				<li>
					<a href="{{BASE_URL}}settings" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">
									.st1 {
										fill: #8699ad;
									}
								</style>
								<g>
									<g>
										<path class="st1" d="M20.3,13.4c-0.2-0.1-0.4-0.3-0.7-0.4c-0.1-0.1-0.1-0.1-0.1-0.2c0-0.3,0-0.7,0-1c0-0.1,0-0.2,0.1-0.2
			c0.2-0.1,0.4-0.2,0.6-0.4c1.1-0.6,1.4-2,0.8-3c-0.4-0.6-0.7-1.3-1.1-1.9c-0.4-0.8-1.4-1.2-2.2-1.1c-0.4,0.1-0.8,0.2-1.2,0.5
			c-0.4,0.3-0.7,0.3-1.1,0c-0.1-0.1-0.1-0.2-0.1-0.2c0-0.4,0-0.8,0-1.1c0-1.2-1-2.2-2.2-2.2c-0.7,0-1.4,0-2.2,0c-1,0-2,0.7-2.2,1.7
			C8.7,4.2,8.7,4.6,8.8,5c0,0.3,0,0.5-0.4,0.6c-0.1,0-0.2,0.1-0.2,0.1C8.1,5.9,8,5.9,7.9,5.8C7.6,5.7,7.3,5.5,7,5.3
			C6,4.8,4.6,5.1,4,6.2C3.7,6.8,3.3,7.4,2.9,8.1c-0.6,1-0.2,2.4,0.8,3c0.3,0.1,0.5,0.3,0.8,0.4c0.1,0,0.1,0.1,0.1,0.2
			c0,0.3,0,0.7,0,1c0,0.1-0.1,0.2-0.1,0.2c-0.2,0.2-0.5,0.3-0.7,0.4c-1.1,0.6-1.4,2-0.8,3.1C3.3,17,3.7,17.6,4,18.3
			c0.6,1.1,2,1.4,3.1,0.8c0.2-0.1,0.3-0.2,0.5-0.3c0.4-0.3,0.7-0.3,1.1,0c0.1,0.1,0.1,0.1,0.1,0.2c0,0.3,0,0.5,0,0.8
			c0,1,0.8,2,1.8,2.1c0.5,0.1,1,0,1.5,0c0,0,0,0,0,0c0.3,0,0.7,0,1,0c1.1,0,2-0.8,2.2-1.8c0.1-0.3,0.1-0.5,0-0.8
			c0-0.4,0.1-0.7,0.5-0.8c0.1,0,0.2-0.1,0.3,0c0.3,0.2,0.6,0.3,0.8,0.5c1,0.6,2.4,0.2,3-0.8c0.4-0.6,0.7-1.3,1.1-1.9
			C21.7,15.3,21.3,14,20.3,13.4z M20.2,15.9c-0.4,0.7-0.7,1.3-1.1,2c-0.4,0.6-1,0.8-1.6,0.4c-0.5-0.3-1-0.6-1.4-0.8
			c-0.1-0.1-0.1,0-0.2,0c-0.4,0.3-0.9,0.5-1.3,0.8c-0.1,0-0.1,0.1-0.1,0.2c0,0.5,0,0.9,0,1.4c0,0.8-0.4,1.2-1.2,1.2
			c-0.7,0-1.4,0-2.2,0c-0.8,0-1.2-0.4-1.2-1.2c0-0.5,0-0.9,0-1.4c0-0.1,0-0.2-0.1-0.2c-0.5-0.3-1.1-0.6-1.6-0.9
			c-0.5,0.3-1,0.6-1.5,0.9c-0.7,0.4-1.3,0.2-1.7-0.4c-0.4-0.6-0.7-1.2-1.1-1.8c-0.4-0.7-0.3-1.3,0.5-1.7c0.4-0.2,0.9-0.5,1.3-0.7
			c0.1-0.1,0.2-0.1,0.1-0.3c-0.1-0.7-0.1-1.4,0-2c0-0.1-0.1-0.2-0.1-0.2c-0.4-0.3-0.9-0.5-1.3-0.8c-0.7-0.4-0.8-1-0.4-1.6
			c0.4-0.6,0.7-1.3,1.1-1.9c0.4-0.7,1-0.8,1.6-0.4C6.8,6.4,7,6.5,7.3,6.7C7.6,6.8,7.8,7,8,7.1c0.6-0.3,1.2-0.6,1.7-0.9
			c0,0,0.1-0.1,0.1-0.2c0-0.6,0-1.3,0-1.9c0-0.7,0.5-1.1,1.1-1.1c0.8,0,1.6,0,2.4,0c0.6,0,1.1,0.4,1.1,1.1c0,0.6,0,1.3,0,1.9
			c0,0.1,0,0.1,0.1,0.2c0.5,0.3,1,0.6,1.5,0.8c0.1,0,0.2,0,0.2,0c0.4-0.2,0.9-0.5,1.3-0.8c0.7-0.4,1.3-0.3,1.7,0.5
			c0.4,0.6,0.7,1.2,1.1,1.8c0.4,0.7,0.3,1.3-0.5,1.7c-0.4,0.2-0.8,0.5-1.2,0.7c-0.1,0.1-0.1,0.1-0.1,0.2c0.1,0.7,0.1,1.4,0,2.1
			c0,0.2,0,0.3,0.2,0.3c0.4,0.2,0.8,0.5,1.2,0.7C20.4,14.6,20.6,15.2,20.2,15.9z M12,8.6c-1.9,0-3.5,1.6-3.5,3.5
			c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C15.5,10.3,13.9,8.6,12,8.6z M12,14.7c-1.5,0-2.5-1-2.6-2.5c0-1.5,1-2.5,2.5-2.5
			c1.5,0,2.6,1,2.6,2.5C14.5,13.6,13.5,14.7,12,14.7z" />
									</g>
								</g>
							</svg>
						</i>
						<span>Settings</span>
					</a>
				</li>

						<li class="{{#ifCond title '==' 'plans' }} active1 {{/ifCond}}">
					<a href="{{BASE_URL}}plans" class="waves-effect">
						<i class="mdi">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
							 y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
								<style type="text/css">.st1 {fill: #8699ad;}</style>
								<g><g>
			<path class="st1" d="M6.3,11c0-0.1-0.1-0.1-0.2-0.2c0.4-0.4,0.8-0.8,1.2-1.2C7,9.3,6.7,9,6.3,8.7C6,9,5.6,9.4,5.2,9.8
			C4.8,9.4,4.3,8.9,3.9,8.5C5.5,7,7,5.5,8.6,3.9c0.8,0.8,1.6,1.6,2.4,2.4c0.3-0.3,0.6-0.6,1-1c-0.1,0-0.1-0.1-0.2-0.1
			C10.7,4.2,9.6,3.1,8.5,2c0,0,0,0,0,0c0,0.1-0.1,0.1-0.1,0.2C6.3,4.2,4.2,6.3,2.1,8.4c0,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0
			c1.1,1.1,2.3,2.3,3.4,3.4C5.7,11.6,6,11.3,6.3,11z M18.6,12.1c-0.3,0.3-0.7,0.7-1,1c0.8,0.8,1.6,1.6,2.4,2.4
			c-1.5,1.5-3.1,3.1-4.6,4.6c-0.4-0.4-0.9-0.9-1.3-1.3c0.4-0.4,0.8-0.8,1.1-1.1c-0.3-0.3-0.6-0.6-0.9-1c-0.4,0.4-0.8,0.8-1.2,1.2
			c-0.1-0.1-0.1-0.1-0.2-0.2c-0.3,0.3-0.6,0.6-0.9,0.9c1.1,1.1,2.3,2.3,3.4,3.4c0,0,0.1-0.1,0.1-0.2c2.1-2.1,4.1-4.1,6.2-6.2
			c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0,0,0,0C20.9,14.3,19.7,13.2,18.6,12.1z M19.7,9c1.3-1.4,1.2-3.6-0.2-4.9c-1.3-1.2-3.3-1.1-4.6,0.2
			c-3.6,3.6-7.2,7.2-10.7,10.7C4,15.2,4,15.4,3.9,15.6c-0.1,1.2-0.3,2.4-0.4,3.6c-0.1,0.5-0.1,1-0.2,1.5c0,0,0.1,0,0.1,0
			c1.7-0.2,3.4-0.4,5.1-0.6c0.1,0,0.3-0.1,0.4-0.2c3.2-3.2,6.4-6.3,9.5-9.5C18.9,9.9,19.3,9.4,19.7,9z M18.7,5.2
			c0.8,0.7,0.8,1.9,0.2,2.7C18,7,17,6,16.1,5.1C16.8,4.5,18,4.5,18.7,5.2z M15.1,6.1C15.4,6.4,15.7,6.7,16,7c-3,3-6,6-9,9
			c-0.3-0.3-0.6-0.6-0.9-0.9C9.1,12.1,12.1,9.1,15.1,6.1z M4.9,19.1c0.1-1,0.2-2,0.4-2.9c0.9,0.9,1.7,1.7,2.6,2.6
			C6.8,18.9,5.9,19,4.9,19.1z M8.9,17.9C8.6,17.6,8.3,17.3,8,17c3-3,6-6,9-9c0.3,0.3,0.6,0.6,0.9,0.9C14.9,11.9,11.9,14.9,8.9,17.9z
			" />
									</g>
								</g>
							</svg>
						</i>
						<span>Plans</span>
					</a>
				</li>



			</ul>
		</div>
		<!-- Sidebar -->
		<div class="clearfix"></div>
	</div>
	<!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
<!-- ============================================================== -->