
{{> header }}
{{> sidebar }}
<!--Morris Chart-->
<script src="{{BASE_URL}}plugins/morris/morris.min.js"></script>
<script src="{{BASE_URL}}plugins/raphael/raphael-min.js"></script>
{{!-- <script src="{{BASE_URL}}assets/pages/dashboard.js"></script> --}}
{{{body}}}

{{!-- </div> --}}

<!-- jQuery  -->

<script src="{{BASE_URL}}assets/js/jquery.min.js"></script>
<script src="{{BASE_URL}}assets/js/bootstrap.bundle.min.js"></script>
<script src="{{BASE_URL}}assets/js/metisMenu.min.js"></script>
<script src="{{BASE_URL}}assets/js/jquery.slimscroll.js"></script>
<script src="{{BASE_URL}}assets/js/waves.min.js"></script>
<script src="{{BASE_URL}}plugins/jquery-sparkline/jquery.sparkline.min.js"></script>






<!-- Required datatable js -->
<script src="{{BASE_URL}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{BASE_URL}}plugins/datatables/dataTables.bootstrap4.min.js"> </script>
<!-- Responsive examples -->
<script src="{{BASE_URL}}plugins/datatables/dataTables.responsive.min.js"> </script>
<script src="{{BASE_URL}}plugins/datatables/responsive.bootstrap4.min.js"> </script>
<!-- Datatable init js -->
<script src="{{BASE_URL}}assets/pages/datatables.init.js"> </script>

<!-- Date picker -->
<script type="text/javascript" src="{{BASE_URL}}assets/js/moment.min.js"></script>
<script type="text/javascript" src="{{BASE_URL}}assets/js/daterangepicker.min.js"></script>

<script type="text/javascript">
		$(function () {
			var bindDatePicker = function () {
				$(".date").daterangepicker({
					format: 'YYYY-MM-DD',
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-arrow-up",
						down: "fa fa-arrow-down"
					}
				}).find('input:first').on("blur", function () {
					// check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
					// update the format if it's yyyy-mm-dd
					var date = parseDate($(this).val());

					if (!isValidDate(date)) {
						//create date based on momentjs (we have that)
						date = moment().format('YYYY-MM-DD');
					}

					$(this).val(date);
				});
			}

			var isValidDate = function (value, format) {
				format = format || false;
				// lets parse the date to the best of our knowledge
				if (format) {
					value = parseDate(value);
				}

				var timestamp = Date.parse(value);

				return isNaN(timestamp) == false;
			}

			var parseDate = function (value) {
				var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
				if (m)
					value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);

				return value;
			}

			bindDatePicker();
		});
	</script>

{{!-- <script>
	$(function () {
		$('input[name="daterange"]').daterangepicker({
			opens: 'left'
		}, function (start, end, label) {
			console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		});
	});
</script> --}}

<!-- App js -->

<script src="{{BASE_URL}}assets/js/app.js"></script>
    <script>
		initSample();
	</script>
</body>

</html>