<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
   <meta content="Admin Dashboard" name="description">
   <meta content="Themesbrand" name="author">

   <link rel="shortcut icon" href="../public/">

   <link href="{{BASE_URL}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="{{BASE_URL}}assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
   <!-- Begin page -->
   <div id="wrapper">
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page invoicepage">
         <!-- Start content -->
         <div class="content">
            <div class="container-fluid">

               <div class="row">
                  <div class="col-md-12">
                     <div class="card m-b-20">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="invoice-title">
                                    <div class="img-circle text-center">
                                       <img src="{{BASE_URL}}assets/images/user-img.png" alt="logo" height="85" class="d-block mx-auto img-circle"></div>
                                    <h3 class="text-center" style="text-align:center;"><strong>Personal Information</strong></h3>

                                 </div>
                                 <hr>
                                 <div>
                                    <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                       <tr>
                                          <td width="50%" style="text-align:left;"><strong>Name:</strong>{{data.firstName
                                             }} {{data.lastName}}<br>
                                             <address><strong>Email: </strong>{{data.email }}</address></td>
                                          <td width="50%" style="text-align:right;"><strong>DOB: </strong>{{data.dob}}<br>
                                             <strong>Gender :</strong> {{data.gender}}</td>
                                       </tr>
                                    </table>
                                 </div>

                              </div>
                           </div>
                           <!-- Programs -->
                           <div class="row">
                              <div class="col-12">
                                 <div style="text-align:center;">
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center"><strong>Programs</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered tab" style="border-collapse: collapse; border-spacing: 0; width: 100%;text-align:center;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Program
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Total
                                                         Session</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Completed
                                                         Session</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Upcoming
                                                         Session</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>

                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->

                                                {{#if programData}}
                                                {{#each programData}}
                                                <tr>
                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{totalProgram}}</td>
                                                   <td class="text-center">{{completeCount}}</td>
                                                   <td class="text-center">{{inCompleteCount}}</td>
                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>
                                                {{/if}}

                                             </tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- Programs ends -->
                           <!--Custom Programs -->
                           <div class="row">
                              <div class="col-12">
                                 <div>
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center" style="text-align:center;"><strong>Custom
                                             Programs</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered tab" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Program
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Total
                                                         Session</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Completed
                                                         Session</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Upcoming
                                                         Session</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->

                                                {{#if customProgramData}}
                                                {{#each customProgramData }}
                                                <tr>

                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{totalProgram}}</td>
                                                   <td class="text-center">{{completeCount}}</td>
                                                   <td class="text-center">{{inCompleteCount}}</td>

                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>

                                                {{/if}}


                                             </tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Custom Programs ends -->
                           <!--Diet Plans -->
                           <div class="row">
                              <div class="col-12">
                                 <div>
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center" style="text-align:center;"><strong>Diet Plans</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Plan
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Total
                                                         Meals</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Completed
                                                         Meals</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Upcoming
                                                         Meals</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                {{#if dietProgram}}
                                                {{#each dietProgram }}
                                                <tr>

                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{totalProgram}}</td>
                                                   <td class="text-center">{{completeCount}}</td>
                                                   <td class="text-center">{{inCompleteCount}}</td>

                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>

                                                {{/if}}</tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Diet Plans ends -->
                           <!--Custom Diet Plans -->
                           <div class="row">
                              <div class="col-12">
                                 <div>
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center" style="text-align:center;"><strong>Custom Diet
                                             Plans</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Plan
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Total
                                                         Meals</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Completed
                                                         Meals</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Upcoming
                                                         Meals</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                {{#if customDietProgram}}

                                                {{#each customDietProgram }}
                                                <tr>

                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{totalProgram}}</td>
                                                   <td class="text-center">{{completeCount}}</td>
                                                   <td class="text-center">{{inCompleteCount}}</td>

                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>

                                                {{/if}}

                                             </tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Custom Diet Plans ends -->
                           <!--Classes -->
                           <div class="row">
                              <div class="col-12">
                                 <div>
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center" style="text-align:center;"><strong>Classes</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Class
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Start
                                                         Date</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>End
                                                         Date </strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Status</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                {{#if classData}}
                                                {{#each classData }}
                                                <tr>

                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{startDate}}</td>
                                                   <td class="text-center">{{endDate}}</td>
                                                   <td class="text-center">{{isActive}}</td>

                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>

                                                {{/if}}

                                             </tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Classes ends -->
                           <!--Workshop -->
                           <div class="row">
                              <div class="col-12">
                                 <div>
                                    <div class="pt-1">
                                       <h2 class="font-16 text-center" style="text-align:center;"><strong>Workshop</strong></h2>
                                    </div>
                                    <div class="">
                                       <div class="table-responsive ">
                                          <table class="table table-bordered" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                             <thead>
                                                <tr>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Workshop
                                                         Name</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Start
                                                         Date</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>End
                                                         Date</strong></th>
                                                   <th class="text-center" width="25%" bgcolor="#263442" style=" background-color: #263442 !important;"><strong>Status</strong></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                {{#if workshopData}}
                                                {{#each workshopData }}
                                                <tr>

                                                   <td class="text-center">{{title}}</td>
                                                   <td class="text-center"> {{startDate}}</td>
                                                   <td class="text-center">{{endDate}}</td>
                                                   <td class="text-center">{{isActive}}</td>

                                                </tr>
                                                {{/each}}
                                                {{else}}
                                                <tr>

                                                   <td style="text-align:center;" colspan="4">No data avalible</td>
                                                </tr>

                                                {{/if}}
                                             </tbody>
                                          </table>
                                       </div>
                                       <!-- button code -->
                                       <!--  <div class="d-print-none">
                                             <div class="float-right"><a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a> <a href="#" class="btn btn-primary waves-effect waves-light">Send</a></div>
                                          </div> -->
                                       <!-- //button code -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Workshop ends -->
                        </div>
                     </div>
                  </div>
                  <!-- end col -->
               </div>
               <!-- end row -->
            </div>
            <!-- container-fluid -->
         </div>
         <!-- content -->

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->
   </div>
   <!-- END wrapper -->



</body>

</html>