<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
  <title>Fitness - page-login
  </title>
  <meta content="Admin Dashboard" name="description">
  <meta content="Themesbrand" name="author">
  <link rel="shortcut icon" href="assets/images/favicon.png">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
  <link href="assets/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  <!-- Begin page -->
  <div class="wrapper-page">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center m-0">
          <a class="logo logo-admin">
            <img src="assets/images/logo.png" alt="logo" class="logo_img"><br />Fitness Partner
          </a>
        </h3>
        <div class="p-3">

          {{!-- <form class="form-horizontal m-t-30" action="https://themesbrand.com/lexa/html/vertical/index.html">
            --}}
            {{!-- <form class="form-horizontal m-t-30" action="/login" method="POST"> --}}

              <form class="form-horizontal m-t-30" id="loginForm">
                <div class="form-group">
                  <label for="username">Username
                  </label>
                  <input type="text" required=required pattern="[^\s]+" oninvalid="setCustomValidity('please dont use the white space :)')"
                    onchange="try{setCustomValidity('')}catch(e){}" class="form-control" name="username" id="username"
                    placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="userpassword">Password
                  </label>
                  <input type="password" required=true pattern="[^\s]+" oninvalid="setCustomValidity('please dont use the white space :)')"
                    onchange="try{setCustomValidity('')}catch(e){}" class="form-control" name="userpassword" id="userpassword"
                    placeholder="Enter password">
                </div>
                <div class="form-group row m-t-20">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customControlInline" name="loginSession">
                      <label class="custom-control-label" for="customControlInline">Remember me
                      </label>
                    </div>
                  </div>
                  <div class="col-6 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In
                    </button>
                  </div>
                </div>

              </form>
        </div>
      </div>
    </div>

  </div>
  <!-- jQuery  -->
  <script src="assets/js/jquery.min.js">
  </script>
  <script src="assets/js/bootstrap.bundle.min.js">
  </script>
  <script src="assets/js/metisMenu.min.js">
  </script>
  <script src="assets/js/jquery.slimscroll.js">
  </script>
  <script src="assets/js/waves.min.js">
  </script>
  <script src="plugins/jquery-sparkline/jquery.sparkline.min.js">
  </script>
  <!-- App js -->
  <script src="assets/js/app.js">
  </script>
  <script src="/assets/jquery/jquery-1.11.1.min.js"></script>
  <script src="/assets/jquery/jquery.validate.min.js"></script>

  <script>
    jQuery.validator.addMethod("noSpace", function (value, element) {
      return value.indexOf(" ") < 0 && value != "";
    }, "No space please and don't leave it empty");

    jQuery.validator.addMethod("pwcheck", function (value) {
      return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
        && /[A-Z]/.test(value) // has a uppercase letter
        && /\d/.test(value) // has a digit
    });
    $("#loginForm").validate({
      rules: {
        username: {
          required: true,
          noSpace: true
        },
        userpassword: {
          required: true,
          noSpace: true,
          pwcheck: true,
          minlength: 8,
        },
      },
      messages: {
        username: {
          required: "Username is required",
          noSpace: "Space not allowed",
        },
        userpassword: {
          required: "Password is required",
          noSpace: "Space not allowed",
          pwcheck: "Password should contain atleast one digit and Uppercase letter",
          minlength: "Password at least 8 character"
        },
      }
    });


    $("#loginForm").submit(function (e) {
      e.preventDefault(); // avoid to execute the actual submit of the form.
      var form = $(this);
      var url = '/login';
      var username = $("input[name=username]").val();
      var userpassword = $("input[name=userpassword]").val();

      $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function (data) {
          if (data == true) {
            window.location.href = '/dashboard';
          } else {

            if (username != "" && userpassword != "") {
              alert(data);
              //   {{!-- $('#userpassword-error').html("passoword incorrect") --}}
            }
          }
        },
        error: function (data) {

          alert(data);
        }
      });
    });

  </script>

</body>

</html>